.raised-btn{
  display:inline-block;
  padding:6px 12px;
  margin-bottom:0px;
  font-size:14px;
  font-weight:bold;
  line-height:1.5;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  cursor:pointer;
  border-radius:4px;
  border:1px solid transparent;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.26);
}

.raised-btn:hover {
  box-shadow: 0 5px 7px 0 rgba(0,0,0,.26);
  text-decoration: none;
  transition-duration: 0.4s;
}

.main-btn{
  background:#FFDA00;
  color:#000;
}

.main-btn:hover{
  background:#fff6c6;
  border-color: #fff6c6;
  color: #000;
}

.secondary-btn,.secondary-btn:hover,.secondary-btn:focus{
  background:#FFF;
  color:#B29700;
  border:1px solid #A8A8A8;
  text-decoration: none;
}

.alternative-btn,.alternative-btn:hover{
  background:#FFF;
  color:#A8A8A8;
}

.success-btn:hover{
  background: #a0d6a0;
  border: 1px solid #a0d6a0;
  transition-duration: 0.4s;
}

.width-100{
  width : 100%;
}

