.fa-question-circle{
	color:ffda00;
	padding-left:2px;
}

a:hover{
	cursor: pointer;
}

.fa[class~=angle]{
    font-size:1.3rem;
    position:relative;
    top: 0.15rem;
    margin:0 20px;
    cursor: pointer;
    color:rgb(255, 204, 0);
    transition:all .5s;
    &:hover{
      color:rgb(71, 190, 115);
    }
}

body {
	background: #eee;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.clearfix {
	content: "";
  	display: table;
  	clear: both;	
}

#site-header, #site-footer {
	background: #fff;
}

#site-header {
	margin: 0 0 30px 0;
}

#site-header h1 {
	font-size: 31px;
	font-weight: 300;
	padding: 40px 0;
	position: relative;
	margin: 0;
}

@media(min-width: 992px){
	#iframe{
		height: 260px;
	}
}

@media(max-width: 991px){
	#iframe{
		height: 300px;
	}
}

@media(max-width: 450px){
	#iframe{
		height: 350px;
	}
}

#iframe{
	width: 100%;
	border:0;
}

a {
	color: #000;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

a:hover {
	color: #000;
}

#site-header h1 span {
	color: #000;
}

#site-header h1 span.last-span {
	background: #fff;
	padding-right: 150px;
	position: absolute;
	left: 217px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#site-header h1:hover span.last-span, #site-header h1 span.is-open {
	left: 363px;
}

#site-header h1 em {
	font-size: 16px;
	font-style: normal;
	vertical-align: middle;
}

.cart {
	width: 100%;
}

.cart h1 {
	font-weight: 300;
	
}

.cart a {
	color: #606060;
	text-decoration: none;

	-webkit-transition: color .2s linear;
	-moz-transition: color .2s linear;
	-ms-transition: color .2s linear;
	-o-transition: color .2s linear;
	transition: color .2s linear;
}

.cart a:hover {
	color: #ffda00;
}

.product.removed {
	margin-left: 980px !important;
	opacity: 0;
}

.product {
	border: 0px solid #efefef;
	margin: 20px 0;
	width: 100%;
	height: 195px;
	position: relative;
	-webkit-transition: margin .2s linear, opacity .2s linear;
	-moz-transition: margin .2s linear, opacity .2s linear;
	-ms-transition: margin .2s linear, opacity .2s linear;
	-o-transition: margin .2s linear, opacity .2s linear;
	transition: margin .2s linear, opacity .2s linear;
}

.product img {
	width: 100%;
	height: 100%;
}

.product header, .product .content {
	background-color: #fff;
	border: 1px solid #ccc;
	border-style: none none solid none;
	float: left;
	color:#606060;
}

.product header {
	margin: 0 1% 20px 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 24%;
	height: 195px;
}

.product header:hover img {
	opacity: .7;
}

.product header:hover h3 {
	bottom: 73px;
}

.product header h3 {
	background: #afafaf;
	color: #fff;
	font-size: 22px;
	line-height: 49px;
	margin: 0;
	padding: 0 60px;
	position: absolute;
	bottom: -50px;
	right: 0;
	left: 0;
	-webkit-transition: bottom .2s linear;
	-moz-transition: bottom .2s linear;
	-ms-transition: bottom .2s linear;
	-o-transition: bottom .2s linear;
	transition: bottom .2s linear;
}

.remove {
	cursor: pointer;
}

.product .content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 140px;
	padding: 0 20px;
	width: 75%;
	font-size:18px;
}

.product h1 {
	color: #53b5aa;
	font-size: 30px;
	font-weight: 300;
	margin: 17px 0 20px 0;
	text-shadow: 1.5px 1.5px #c1c1c1;
}

.product footer.content {
	height: 50px;
	margin: 6px 0 0 0;
	padding: 0;
}

.product footer .price {
	background: #fff;
	color: #000;
	float: right;
	font-size: 15px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 30px;
}

.product footer .full-price {
	background: #fff3af;
	color:#777251;
	float: right;
	font-size: 18px;
	font-weight: 300;
	line-height: 49px;
	margin: 0;
	padding: 0 50px;
	-webkit-transition: margin .15s linear;
	-moz-transition: margin .15s linear;
	-ms-transition: margin .15s linear;
	-o-transition: margin .15s linear;
	transition: margin .15s linear;
}

.qt, .qt-plus, .qt-minus {
	display: block;
	float: left;
	color:#777251;
}

.qt {
	font-size: 18px;
	line-height: 50px;
	width: 70px;
	text-align: center;
}

.qt-plus, .qt-minus {
	background: #fcfcfc;
	border: none;
	font-size: 25px;
	font-weight: 300;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: background .2s linear;
	-moz-transition: background .2s linear;
	-ms-transition: background .2s linear;
	-o-transition: background .2s linear;
	transition: background .2s linear;
}

.qt-plus:hover, .qt-minus:hover {
	background: #fff3af;
	color: #777251;
	cursor: pointer;
}

.qt-plus {
	line-height: 50px;
}

.qt-minus {
	line-height: 47px;
}

#site-footer {
	margin: 30px 0 0 0;
}

#site-footer {
	padding: 40px;
}

#site-footer h1 {
	background: #fcfcfc;
	border: 1px solid #ccc;
	border-style: none none solid none;
	font-size: 24px;
	font-weight: 300;
	margin: 0 0 7px 0;
	padding: 14px 40px;
	text-align: center;
}

#site-footer h2 {
	font-size: 24px;
	font-weight: 300;
	margin: 10px 0 0 0;
}

#site-footer h3 {
	font-size: 19px;
	font-weight: 300;
	margin: 15px 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

#d {
	font-size: 25px;
	padding: 10px 0;
	text-align: center;
	float:right;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

#d:hover {
	color: #fff;
	background: #fff;
}

.type {
	background: #fcfcfc;
	font-size: 13px;
	padding: 10px 16px;
	left: 100%;
}

.type, .color {
	border: 1px solid #ccc;
	border-style: none none solid none;
	position: absolute;
}

.color {
	width: 40px;
	height: 40px;
	right: -40px;
}

.minused {
	margin: 0 50px 0 0 !important;
}

.added {
	margin: 0 -50px 0 0 !important;
}

.btn-b{
	background-color:#606060;
	border: 0px #fff;
	color:#ffda00;
	float:right;
}

.raised-btn{
	float: right;
}

.btn-b:hover{
	background-color:#fff3af;
}

@media (max-width: 767px){
	.raised-btn{
		width: 100%;
	}
}

@media (max-width: 544px) {
	.qt{
		width:30px;
		font-size:15px;
	}
	.qt-plus, .qt-minus {
		font-size:15px;
	}
}

@media (max-width:501px){
	.product header {
		overflow: hidden;
		padding-left: 10%;
		position: relative;
		float:right;
		width:auto;
	}

	.product {
		border: 0px solid #efefef;
		margin: 20px 0;
		width: 100%;
		padding-left:5%;
		height: 195px;
		position: relative;
		-webkit-transition: margin .2s linear, opacity .2s linear;
		-moz-transition: margin .2s linear, opacity .2s linear;
		-ms-transition: margin .2s linear, opacity .2s linear;
		-o-transition: margin .2s linear, opacity .2s linear;
		transition: margin .2s linear, opacity .2s linear;
	}

	.product header {
		display:none;
	}

	.product img {
		width: 50%;
		height: 50%;
	}

	.qt{
		width:25px;
		font-size:15px;
	
	}
	.qt-plus, .qt-minus {
		font-size:15px;
	}

	.product footer .full-price {
		font-size: 15px;	
	}

	.product footer .price {	
		font-size: 15px;
	}

	.product .content {
		width:100%;
	}
}

@media (max-width:374px){
	.qt{
		width:15px;
		font-size:15px;
	}

	.qt-plus, .qt-minus {
		font-size:15px;
		padding-left:10px;
	}

	.product footer .full-price {
		font-size: 15px;
	}

	.product footer .price {
		width:15px;
		font-size: 15px;
	}

	.content{
		overflow-x: hidden;
	}

	.product header, .product .content {
		float: none;
	}

	.product .content {
		width:100%;
	}
}

.text-xs-right{
	text-align: right !important;
}

.text-xs-left{
	text-align: right !important;
	color:red;
}

.htitleline {
    border: 0 solid #ffda00;
    border-bottom-width: 1px;
    margin-bottom: -39px;
}

.hometitlefp {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #f8f8f8;
}

.htitlemargintop {
    margin-top: 50px;
}

.htitlemarginbottom {
    margin-bottom: 10px;
}