a:hover
  {
    cursor: pointer;
  }
.fa[class~=angle]{
      font-size:1.3rem;
      position:relative;
      top: 0.15rem;
      margin:0 20px;
      cursor: pointer;
      color:rgb(255, 204, 0);
    transition:all .5s;
    &:hover{
      color:rgb(71, 190, 115);
    }
  }