#mydetails{
	/* margin-left:20%; */
	padding: 15px;
	background-color: white;
	
}

.cart-header{
	border-bottom:  1px solid rgba(0,0,0,0.2);
}

.header-title{
	font-size: 2.5em;
	font-weight: bold;
	font-weight: 500;
	line-height: 2.4em;
	text-align: center;
}

.cart-detail{
	width: 75%;
	margin:auto;
}

.cart-label{
	margin-bottom: 15px;
	height: 34px;
	padding:6px 12px;
	font-size: 14px;
}

.cart-content{
	padding-top: 5px;
	border-top:1px solid rgba(0,0,0,0.2);
}

