#mydetails{
	padding: 15px;
	background-color: white;
}

.cart-header{
	border-bottom:  1px solid rgba(0,0,0,0.2);
}

.header-title{
	font-size: 2.5em;
	font-weight: bold;
	font-weight: 500;
	line-height: 2.4em;
	text-align: center;
}

.checkout-header{
	text-align: center;
	background-color: #FFF;
	padding: 10px 0;
}

#aftercheckout .row{
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.cart-detail{
	width: 75%;
	margin:auto;
}

.cart-label{
	margin-bottom: 15px;
	height: 34px;
	padding:6px 12px;
	font-size: 14px;
}

.cart-content{
	padding-top: 5px;
	border-top:1px solid rgba(0,0,0,0.2);
}

.checkout-detail{
	background-color: white;
	margin-right: 10px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.checkout-cash{
	background-color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.more-detail{
	margin-top: 20px;
}

.text-right{
	text-align: right
}

.none{
	display: none;
}

#no-border td{
	border-top: 0px;
}

@media (max-width: 991px){
	.raised-btn{
		width: 100%;
		margin-bottom: 10px !important;
	}

	#aftercheckout .row{
		flex-direction: column;
		height: auto;
	}

	.checkout-cash{
		margin-top: 10px;
		padding-top: 7%;
		height: auto;
		width: 100%;
	}

	.checkout-detail{
		margin-right: 0;
	}
}


