.dark{
	background-color: #FFFBE5;
}

.table th{
	background-color: #EEEFA8;
}

.none{
	display: none !important;
}

#profit-container{
	background-color: #FFF;
}

@media(max-width: 991px){
	.date-picker{
		margin-bottom: 10px;
	}
}

@media(max-width: 767px){
	.cooking-table td.mobile-hide{
		display: none ;
	}
	.dark{
		background-color: transparent;
	}

	.table th{
		background-color: transparent;
	}
	
	#mobile-table tbody,
	#restaurant-earnings-content tbody{
		border: 2px solid black;
	}

	#mobile-table > table,#mobile-table thead,#mobile-table tbody,#mobile-table th,#mobile-table td,#mobile-table tr,
	#restaurant-earnings-content > table,#restaurant-earnings-content thead,#restaurant-earnings-content tbody,#restaurant-earnings-content th,#restaurant-earnings-content td,#restaurant-earnings-content tr { 
	  display: block; 
	}

/* Hide table headers (but not display: none;, for accessibility) */
    #mobile-table thead tr,
    #restaurant-earnings-content thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    #mobile-table td.none,
    #restaurant-earnings-content td.mobilenone { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    #mobile-table tr,
    #restaurant-earnings-content tr { border: 1px solid #ccc; }
  
    #mobile-table td,
    #restaurant-earnings-content td { 

      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      display: flex;
    }

	#mobile-table td.thead,
	#restaurant-earnings-content td.thead{
		font-weight: bold;
		font-size: 20px;
		display: flex;
		border-bottom: 1px solid;
		background-color: #EEEFA8;
	}
  
	div#mobile-table td:before,
	div#restaurant-earnings-content td:before { 
      content : attr(data-th) ": ";
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
      font-weight: bold;
      padding-right: 10px;
    }

    div#mobile-table td.thead:before,
    div#restaurant-earnings-content td.thead:before { 
      content : attr(data-th) ": ";
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
      font-weight: bold;
    }
}

@media(max-width: 767px){
	.cooking-table .dark{
		background-color: transparent;
	}

	.cooking-table .table th{
		background-color: transparent;
	}

	.cooking-table .table-bordered{
		border: none;
	}

	.cooking-table > table,.cooking-table thead,.cooking-table tbody,.cooking-table th,.cooking-table td,.cooking-table tr{
		display: block;
	}

	.cooking-table thead tr{
		position: absolute;
      	top: -9999px;
      	left: -9999px;
	}

	.cooking-table tr{
		/* border: 1px solid #ccc; */
	}

	.cooking-table td.thead{
		font-weight: bold;
		font-size: 16px;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid;
		background-color: #EEEFA8;
		margin-top: 20px;
	}

	.cooking-table td.selection-thead{
		background-color: #FFFBE5;
	}

	.cooking-table td{
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
	}

	div.cooking-table td:before{
      content : attr(data-th) ": ";
      width: 10.5em;
      display: inline-block;
      font-weight: bold;
	}
}