.deliveryman-orders-history-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.deliveryman-orders-history-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

#deliveryman-orders-history-container{
  background-color: white;
}

#deliveryman-orders-history-nav > li > a {
  border-bottom: 1px solid #efefef;
}

#deliveryman-orders-history-content{
  border-left: 1px solid #efefef;
  padding-top: 15px;
}

.deliveryman-orders-history-table{
  border: 1px solid black;
}

@media (max-width: 700px){
  #deliveryman-orders-history-content > table, thead, tbody, th, td, tr { 
    display: block; 
  }

/* Hide table headers (but not display: none;, for accessibility) */
  #deliveryman-orders-history-content thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  #deliveryman-orders-history-content tr { border: 1px solid #ccc; }
  
  #deliveryman-orders-history-content td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    display: flex;
  }
  
  div#deliveryman-orders-history-content td:before { 
      content : attr(data-th) ": ";
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
      padding-right:10px; 
      font-weight: bold;
  }

  #deliveryman-orders-history-content td > a{
    display: block;
  }
}