.deliveryman-orders-history-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.search-border{
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;  
  margin-top: 30px;
}

.margin-bottom{
  margin-bottom: 15px;
}

.deliveryman-orders-history-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

#deliveryman-orders-history-container{
  background-color: white;
}

#deliveryman-orders-history-nav > li > a {
  border-bottom: 1px solid #efefef;
}

#deliveryman-orders-history-content{
  border-left: 1px solid #efefef;
  padding-top: 15px;
}

.deliveryman-orders-history-table{
  border: 1px solid black;
}

.border{
  border-left:   2px solid #efefef;
}

.center{
  text-align: center;
}

@media (max-width: 700px){
  #deliveryman-orders-history-content > table, thead, tbody, th, td, tr { 
    display: block; 
  }

/* Hide table headers (but not display: none;, for accessibility) */
  #deliveryman-orders-history-content thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #deliveryman-orders-history-content thead.needed tr { 
    position: relative;
    top: 0px;
    left: 0px;
   
  } 
  
  #deliveryman-orders-history-content tr { border: 1px solid #ccc; }
  
  #deliveryman-orders-history-content td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    display: flex;
  }
  
  div#deliveryman-orders-history-content td:before { 
      content : attr(data-th) ": ";
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
      padding-right:10px; 
      font-weight: bold;
  }

  #deliveryman-orders-history-content td > a{
    display: block;
  }

  .mobile-same-col{
    display: table-cell;
    width: 32%;
    border:0px !important;
  }
}