.deliveryman-orders-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.deliveryman-orders-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

#deliveryman-orders-container{
  background-color: white;
}

#deliveryman-orders-nav > li > a {
  border-bottom: 1px solid #efefef;
}

#deliveryman-orders-content{
  border-left: 1px solid #efefef;
  padding-top: 15px;
}

.deliveryman-orders-table{
  border: 1px solid black;
  margin-top: 10px;
}

.btn-signin{
  margin-bottom: 10px;
}

@media (max-width: 700px){
  #deliveryman-orders-content > table, thead, tbody, th, td, tr { 
    display: block; 
  }

/* Hide table headers (but not display: none;, for accessibility) */
  #deliveryman-orders-content thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  #deliveryman-orders-content tr { border: 1px solid #ccc; }
  
  #deliveryman-orders-content td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
  }
  
  div#deliveryman-orders-content td:before { 
      content : attr(data-th) ": ";
      width: 5.5em;
      display: inline-block;
      font-weight: bold;
  }

  #deliveryman-orders-content td > a{
    display: block;
  }

  .btn-signin{
    display: block;
  }
}
@media (min-width:1200px){
	#parent1 {
	
    text-align:right;
    display: flex;
	flex-wrap: wrap;
    height:100%;
    width:800px;
}
.blocka {
    width:250px;
    text-align:left;
	padding-left:10%;
	height:50px;
}
.center1 {
    margin:auto;
    
}
.left1 {
    margin:auto auto auto 0;
    
}
.right1 {
    margin:auto 0 auto auto;
   
}
}
@media (min-width:620px){
#parent {
	
    text-align:right;
    display: flex;
	flex-wrap: wrap;
    height:100%;
    width:600px;
}
.block {
    width:200px;
    text-align:left;
	padding-left:10%;
	height:50px;
}
.center {
    margin:auto;
    
}
.left {
    margin:auto auto auto 0;
    
}
.right {
    margin:auto 0 auto auto;
   
}
.checkbox-inner{
  display: flex;
  flex-wrap: wrap;
  float:left;
}

.order-inner{
  border:1px solid black;
}
.inner-row{
  display: flex;
  padding-top:10px;
  flex-wrap: wrap;
  padding-left:9%;
  margin-bottom:20px;
}
.inner-rows{
  display: flex;
  flex-wrap: wrap;
}
.collapse{
	margin-left:100px;
}
#parent1 {
	
    text-align:right;
    display: flex;
	flex-wrap: wrap;
    height:100%;
    width:600px;
}
.blocka {
    width:200px;
    text-align:left;
	padding-left:10%;
	height:50px;
}
.center1 {
    margin:auto;
    
}
.left1 {
    margin:auto auto auto 0;
    
}
.right1 {
    margin:auto 0 auto auto;
   
}
}
@media (max-width:620px){
.center, .left, .right {
    margin-bottom: 0.5em;
	margin-left: 80px;
    
}.center1, .left1, .right1 {
    margin-bottom: 0.5em;
	margin-left: 80px;
    
}
.block {
 margin: 0px 30px 10px 20px;
}.blocka {
 margin: 0px 30px 10px 20px;
}
#parent {
    text-align:center;
}#parent1 {
    text-align:center;
}
.inner-row{
  display: flex;
  padding-top:10px;
  flex-wrap: wrap;
  padding-left:23%;
  margin-bottom:20px;
}
.inner-rows{
  display: flex;
  flex-wrap: wrap;
  padding-left:25%;
}
}