.icon-button{
  height: 34px;
}

.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}

.filter{
    height:auto;
    width:230px;
    float:left;
   margin-left:-10px;
}
.filter.container{
     border: 1px solid #e5e5e5;
    padding: 20px;
    margin-top:26px; 
}
.filter-list{
    list-style: none;
    font-size:13px;
    letter-spacing: .5px;
    line-height:80%;
    padding-left:20px;
}
.filter-name p{
    margin-left:11px;
    letter-spacing: .5px;
    font-size:15px;
}
.filter.list a:hover{
     text-decoration:none;
}

.he-skinny-banner img{
  display: none;
  width: 82px;
  height: 82px
}
#banner2{
	  display: none;
}
/*.toggle{
	display:none;
}*/
.tm{
	display:none;
}
@media(max-width: 560px)
{
	#cp{
		display:none;
	}
	.tm{
		 display: block;
		}
	.button {
    position:fixed;
    bottom:0;
    right:30%;
    background-color:grey;
    padding:4px;
}
  
  .filter{
    position: fixed;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    padding:0px;
    left: -999px;
    z-index: 4;
  }

  .filter .container{
    margin-top: -120px;
    overflow: auto;
    height: 100%;
    background-color: rgba(51, 51, 51,0.9);
     width: 70%;
  }

  .filter-name p{
    color:white;
  }

  .filter-list a{
    color:white;
  }

  .form-vertical .form-group{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .filter-list{
    padding-bottom: 30px;
  }

  .he-skinny-banner {
        text-decoration: none;
        color: rgba(0,0,0,.8);
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        position:fixed;
        right: 8%;
        top: 60%;
        z-index:99; 
    }

    .he-skinny-banner img{
      display: inline;
    }

	
.fa-arrow-up{
	 
	  position:fixed;
        right: 15%;
        top: 75%;
	   z-index:99; 

}
.fa-chevron-up{
	 position:fixed;
        right: 15%;
        top: 75%;
	   z-index:99; 
	
}
.text-muted-3{
	position:fixed;
        right: 10%;
        top: 80%;
	   z-index:99;
}
/*.toggle{
display:inline;
  position:fixed;
  right: 8%;
  top: 14%;
  float:right;  
  border-radius:20px;
  padding-top: 10px;
  padding-right:20px;
  padding-left:20px;
  padding-bottom:10px;
  border:1px solid white;
  background-color: #FFDA00;
}*/
#banner2{
		 display: inline;
		 position:fixed;
        right: 8%;
        top: 80%;
        z-index:99; 
		width:40px; /*width of your image*/
	height:40px;
	background-color:#FFDA00;
	border-radius: 50%;
	  padding: 5px;
	
	}

  .scrollToTop{
  	padding:25px; 
  	z-index:99; 
  	background-color:#FFDA00;
  	text-decoration: none;
  	position:fixed;
  	top:80%;
  	right:8%;
  	display:none;
  	background: url('./../SysImg/Icon2.png') no-repeat;
  	background-size: 40px 40px;
  	background-color:#FFDA00;
  	background-position: center;
  	border-radius: 50%;
  	margin-top:20px;
  }
  .scrollToTop:hover{
  	text-decoration:none;
  }

  #tm-p{
    position: fixed;
    right: 8%;
    top:16%;
    
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 15px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: jump;
            animation-name: jump;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
   
    color: #FA434B;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    pointer-events: none;
  }

  #tm-p:after {
  content: '';
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  height: 10px;
  width: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: inherit;
}
  #tm-p:before{

  content: '';
  color: white;

  }

}

@media(max-width: 451px)
{
  .filter .container{
    margin-top: -160px;
  }
  .f{
	  display:none;
  }
}

/*
* for toggle side search menu
*/

#sidebartoggler {
  display: none;
}
/*for filter*/
#sidebartoggler:checked + .page-wrap .filter {
  left: 0px; 
}
/*for filter icon*/
#sidebartoggler:checked + .page-wrap .toggle {
 
}
.btn-default:hover{
	background-color:#FFDA00;
}

#toggle-menu {
	position:fixed;
  display: block;
  width: 28px;
  height: 30px;
  float:right;
   right: 8%;
  top: 18%;

}

#toggle-menu span:after,
#toggle-menu span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle-menu span:after{
  top: 9px;
}
#toggle-menu span {
  position: relative;
  display: block;
}

#toggle-menu span,
#toggle-menu span:after,
#toggle-menu span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle-menu.on span {
  background-color: transparent;
}
#toggle-menu.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle-menu.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle-menu.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: fixed;
  z-index:99;
  color: #999;
  width: 150px;
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
   right: 6%;
  top: 22%;
  float:right;  
}
#menu:after {
  position: fixed;
   right: 8%;
  top: 20%;
  float:right;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid white;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {
  background: #ffda00;
  color: #fff;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
}
