.icon-button{
  height: 34px;
}

.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}

.filter{
    height:auto;
    width:230px;
    float:left;
   margin-left:-10px;
}
.filter.container{
     border: 1px solid #e5e5e5;
    padding: 20px;
    margin-top:26px; 
}
.filter-list{
    list-style: none;
    font-size:13px;
    letter-spacing: .5px;
    line-height:80%;
    padding-left:20px;
}
.filter-name p{
    margin-left:11px;
    letter-spacing: .5px;
    font-size:15px;
}
.filter.list a:hover{
     text-decoration:none;
}

.he-skinny-banner img{
  display: none;
  width: 82px;
  height: 82px
}
#banner2{
	  display: none;
}
.toggle{
	display:none;
}
@media(max-width: 560px)
{
	.button {
    position:fixed;
    bottom:0;
    right:30%;
    background-color:grey;
    padding:4px;
}
  
  .filter{
    position: fixed;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    transition: all 0.8s;
    padding:0px;
    left: -999px;
    z-index: 4;
  }

  .filter .container{
    margin-top: -120px;
    overflow: auto;
    height: 100%;
    background-color: rgba(51, 51, 51,0.9);
     width: 70%;
  }

  .filter-name p{
    color:white;
  }

  .filter-list a{
    color:white;
  }

  .form-vertical .form-group{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .filter-list{
    padding-bottom: 30px;
  }

  .he-skinny-banner {
        text-decoration: none;
        color: rgba(0,0,0,.8);
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        position:fixed;
        right: 8%;
        top: 60%;
        z-index:99; 
    }

    .he-skinny-banner img{
      display: inline;
    }

	
.fa-arrow-up{
	 
	  position:fixed;
        right: 15%;
        top: 75%;
	   z-index:99; 

}
.fa-chevron-up{
	 position:fixed;
        right: 15%;
        top: 75%;
	   z-index:99; 
	
}
.text-muted-3{
	position:fixed;
        right: 10%;
        top: 80%;
	   z-index:99;
}
.toggle{
display:inline;
  position:fixed;
  right: 8%;
  top: 12%;
  float:right;  
  border-radius:20px;
  padding-top: 10px;
  padding-right:20px;
  padding-left:20px;
  padding-bottom:10px;
  border:1px solid white;
  background-color: #FFDA00;
}
#banner2{
		 display: inline;
		 position:fixed;
        right: 8%;
        top: 80%;
        z-index:99; 
		width:40px; /*width of your image*/
	height:40px;
	background-color:#FFDA00;
	border-radius: 50%;
	  padding: 5px;
	
	}

.scrollToTop{
	padding:25px; 
	z-index:99; 
	background-color:#FFDA00;
	text-decoration: none;
	position:fixed;
	top:80%;
	right:8%;
	display:none;
	background: url('/hamsterEat/frontend/web/SysImg/Icon2.png') no-repeat;
	background-size: 40px 40px;
	background-color:#FFDA00;
	background-position: center;
	border-radius: 50%;
	margin-top:20px;
}
.scrollToTop:hover{
	text-decoration:none;
}
}

@media(max-width: 451px)
{
  .filter .container{
    margin-top: -160px;
  }
  .f{
	  display:none;
  }
}

/*
* for toggle side search menu
*/

#sidebartoggler {
  display: none;
}
/*for filter*/
#sidebartoggler:checked + .page-wrap .filter {
  left: 0px; 
}
/*for filter icon*/
#sidebartoggler:checked + .page-wrap .toggle {
 
}
