.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
  margin-top: 10px;
}

.menu-container{
  display: grid;
  width:1200px;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  align-items: center;
  justify-content:center;
}

.outer-item{
  border: 1px solid #e5e5e5;
}

.item-no-border{
  font-size: 24px;
  color: black;
  background-color: white;
  min-width: 300px;
  min-height: 180px;
  border-bottom:1px solid #FFDA00;
  padding-right: 20px;
}

.item-no-border p{
  font-size:16px;
  color:grey;
}

.item-no-border .small-text{
   font-size:15px;
  color:grey; 
  margin-top: 10px;
}

.item-no-border .price{
    font-size: 17px;
    color: black;
}

.item-no-border .inner-item{
  margin:10px 0px 10px 30px;
  float:left;
  width: 80%;
}

.item-no-border .tag{
    font-size: 13px;
    color: grey;
}

.item-no-border .img{
  float:left;
}

.item-no-border img{
	margin-top:15px;
  width:130px;
  height:130px;
  
}

#res{
  margin: 10px 10px 10px 10px;
  float: right;
}

#res:focus{
  text-decoration: none;
}

#food{
  margin: 10px 10px 10px 10px;
  float: right;
}

#food:hover{
	 background-color: #e67300; 
}

.item-no-border .foodName{
  display: block;
  width: 30em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-no-border .foodDesc{
  display: block;
  width: 47em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-button{
  margin: 10px;
  float: right;
}

@media (max-width: 1199px){
  .item-no-border .inner-item{
    width: 78%;
  }

  .item-no-border .foodName{
    width: 24em;
  }

  .item-no-border .foodDesc{
    width: 36em;
  }
}

@media (max-width: 991px){
  .item-no-border .inner-item{
    width: 65%;
  }

  .item-no-border .foodName{
    width: 17em;
  }

  .item-no-border .foodDesc{
    width: 25em;
  }
}

@media (max-width: 640px){
  .item-no-border .inner-item{
    width: 65%;
  }

  .item-no-border .foodName{
    width: 13em;
  }

  .item-no-border .foodDesc{
    width: 19em;
  }
}

@media (max-width: 540px){
  .item-no-border .img{
    display: none;
  }

  .item-no-border .inner-item{
    width: 90%;
  }

  .item-no-border .foodName{
    width: 10em;
  }

  .item-no-border .foodDesc{
    width: 13em;
  }
}