.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
  margin-top: 10px;
}

.menu-container{
  display: grid;
  width:1200px;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  align-items: center;
  justify-content:center;
}

.outer-item{
  border: 1px solid #e5e5e5;
}

.item-no-border{
  font-size: 24px;
  color: black;
  background-color: white;
  min-width: 250px;
  min-height: 180px;
  border-bottom:1px solid #FFDA00;
  padding-right: 20px;
  display: flex;
}

.item-no-border p{
  font-size:16px;
  color:grey;
}

.item-no-border .small-text{
  font-size:15px;
  color:grey; 
  margin-top: 10px;
}

.item-no-border .price{
  font-size: 17px;
  color: black;
}

.item-no-border .inner-item{
  margin:10px 0px 10px 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.item-no-border .tag{
  font-size: 13px;
  color: grey;
}

.item-no-border img{
	margin-top:15px;
  width:130px;
  height:130px;
  
}

#res{
  margin: 10px 10px 10px 10px;
  float: right;
}

#res:focus{
  text-decoration: none;
}

#food{
  margin: 10px 10px 10px 10px;
  float: right;
}

#food:hover{
	 background-color: #e67300; 
}

.item-no-border .foodName{
  display: block;
  width: 27em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-no-border .foodDesc{
  display: block;
  width: 46em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-button{
  margin: 10px;
  float: right;
}

.foodName-div{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex: 1 1 auto;
}

.foodDesc-div{
  flex: 0 1 auto;
}

.top-button-div{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1199px){
  .item-no-border .inner-item{
    width: 78%;
  }

  .item-no-border .foodName{
    width: 20em;
  }

  .item-no-border .foodDesc{
    width: 36em;
  }
}

@media (max-width: 991px){
  .item-no-border .inner-item{
    width: 65%;
  }

  .item-no-border .foodName{
    width: 12em;
  }

  .item-no-border .foodDesc{
    width: 25em;
  }
}

@media (max-width: 640px){
  .item-no-border .inner-item{
    width: 65%;
  }

  .item-no-border .foodName{
    width: 9em;
  }

  .item-no-border .foodDesc{
    width: 19em;
  }
}

@media (max-width: 540px){
  .item-no-border .img{
    display: none;
  }

  .item-no-border .inner-item{
    width: 90%;
  }

  .item-no-border .foodName{
    width: 5em;
  }

  .item-no-border .foodDesc{
    width: 12em;
  }

  .top-button-div{
    flex-direction: column;
  }

  .top-button-div a{
    width: 100%;
    margin-bottom: 10px;
  }
}