.modal-header{
  position: relative;
}

.bottom{
  position: absolute;
  bottom: 0;
  width:100%;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 24px;
}

.left-container{
  left:0;
  width:150px;
  height:100%;
  position:absolute;
  bottom:0;
  cursor:pointer;
  color:white;
  font-size:30px;
}

.w3-left{
  top:50%;
  transform:translate(0%,-50%);
  position:absolute;
  margin:10px;
}

.right-container{
  right:0;
  width:150px;
  height:100%;
  position:absolute;
  bottom:0;
  cursor:pointer;
  color:white;
  font-size:30px;
}

.w3-right{
  right:0;
  top:50%;
  transform:translate(0%,-50%);
  position:absolute;
  margin:10px;
}

.left-container:hover{
  background: linear-gradient(to right, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 1%,rgba(0,0,0,0) 100%);
}

.right-container:hover{
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 99%,rgba(0,0,0,0.85) 100%);
}

.dots{
  display:inline-block;
  border-radius:50%;
  height:13px;
  width:13px;
  margin:5px;
}

.w3-border{
  border:1px solid #ccc;
}

.w3-white{
  background:#FFF;
}