.modal-header{
  padding:0px;
}

.modal-header .close {
  margin: 0;
  position: absolute;
  top: 9px;
  right: 10px;
  width: 23px;
  height: 23px;
  border-radius: 23px;
  background-color: grey;
  color: white;
  opacity: 1;
  z-index: 10;
}

#a2cart {
  background-color:#fff;
}

@media (min-width:992px) {
  .modal-content{
    width:598px;
  }

  .modal-lg{
    padding-left: 158px;
  }
}

.modal-content{
  background-color:#fff;
}

.modal-body{
  height:350px;
  overflow-x:auto;
  overflow-y:scroll;
  bottom:0;
  left:0;
  right:0;
  top:0;
  z-index:9999;
}

.value-button {
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
}

#input-wrap {
  margin: 0px;
  padding: 0px;
}

#number {
  text-align: center;
  border: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#fooddetails td{
  padding: 10px 0em 10px 0em;
}

.bordertop{
  border-top: 1px solid #D3D3D3;
}

#fooddetails .foodname{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: initial;
  font-size: 2.0em;
  font-weight:700;
}

#fooddetails span.food-limit-span{
  font-size: 0.6em;
  font-weight: normal;
}

#fooddetails .foodprice{
  line-height: initial;
  font-size: 1.6em;
}

#fooddetails .cart{
  display: inline-block;
}

#fooddetails .description{
  color: rgb(117, 117, 117);
  font-size: 14px;
  line-height: 22px;
}

#fooddetails .selection{
  font-size: 16px;
}

.food-detail-label{
  width: 100%;
}

#rating {
  float:left;
}

#ratedatetime {
  float:right;
}

button.btn.btn-primary.bootstrap-touchspin-down{
  width:40px;
  height:40px;
}

button.btn.btn-primary.bootstrap-touchspin-up{
  width:40px;
  height:40px;
}

#nav a:hover{
  cursor: pointer;
  border-bottom: 1px solid;
}

#nav a:focus{
  border-bottom: 1px solid;
}

.radio label,
.checkbox label{
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label span.radio-custom-label,
label span.checkbox-custom-label{
  float: right;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + label span.checkbox-custom-label:after, .radio-custom + label span.radio-custom-label:after {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + label span.checkbox-custom-label:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #FFDA00;
    color: #fff;
}

.radio-custom + label span.radio-custom-label:after {
    border-radius: 50%;
}

.radio-custom:checked + label span.radio-custom-label:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #FFDA00;
    color: #fff;
}

.checkbox-custom:focus + label span.checkbox-custom-label, .radio-custom:focus + label span.radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

.foodselection-name{
  flex-grow: 1;
}

.quantity{
  width: 25%;
}

.addtocart-btn{
  margin-top:-50px;
  width:48%; 
  height:40px;
  font-size: 18px;
  float: right;
  background-color: #FFDA00;
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

.plus-btn,
.minus-btn{
  background-color: #FFDA00;
  border: 1px solid #ddd;
}

.plus-btn:hover,
.minus-btn:hover{
  background-color: #FFF;
  border: 1px solid #ddd;
  color: #FFDA00;
}

.addtocart-btn:hover{
  background-color: #FFF;
  border: 1px solid #ddd;
}

@media(max-width: 550px){
  .quantity{
    width: 100%;
  }

  .addtocart-btn{
    width:100%; 
    height:40px;
    font-size: 18px;
    margin-top: 1px;
  }
}

/*-----Comment------*/
.panel-default{
  width:500px;
}

#comments.tab-pane.fade{
  background-color:#fff;
}

#comment-container.container{
  width: 500px;
  margin: 20px 0px 0px 0px;
}

.food-details-tab{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#home .row{
  padding-bottom: 0px;
}

.description span{
  display: block;
  overflow-wrap: break-word; 
  word-wrap: break-word;
}

.radio-custom:checked + .food-detail-label, .checkbox-custom:checked + .food-detail-label {
  color: green;
}

.selection-name{
  font-weight: bold;
  font-size: 16px;
}

.selection-warning{
  font-size: 14px;
  color: indianred;
  float: right;
}

.total-price{
  float: right;
  font-size: 14px;
  font-weight: normal;
  line-height: 27px;
}

.total-price::before{
  content: "RM";
}