.food-menu-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.food-menu-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

#food-menu-container{
  background-color: white;
}

#food-menu-nav > li > a {
  border-bottom: 1px solid #efefef;
}

#food-menu-content{
  border-left: 1px solid #efefef;
  padding-top: 15px;
}

.upload-btn{
	margin: 10px;
	float: right;
}