#Footer{
  background-color:#333;
  color:#ffffff;
}

#Box4{
  display: none;
}

@media(max-width: 767px){
  #Box1, #Box2{
    width: 41.666666667%;
  }

  #Footer .container-fluid{
    margin-bottom: 70px;
  }

  #Box4{
    display: flex;
    flex-direction: column;
  }

  #Box4 a{
    display: block;
    width: 100%;
    margin: 10px;
  }
}

@media(max-width: 600px){
  #Box1, #Box2{
    width: 100%;
  }
}

.footer{
  padding: 0 10%;
}

#Box1,#Box2,#Box3,#Box4{
  padding:30px;

}

.list-unstyled>li>a{
  color:#adadad;
}

#Box2>p{
  color:#adadad;
}

#Box2>a{
  text-decoration: none!important;
}

#linklist a:hover{
  text-decoration: none!important;
  color:#ffffff;
}

.btn-facebook-footer,.btn-google-footer,.btn-instagram-footer{
  margin-right:5%;
  margin-left:5%;
  background-color:#fff;
  border-radius: 50%;
}

.btn-facebook-footer{
  color:#3B5998;
}

.btn-facebook-footer:hover{
  background: #3B5998;
  color: white;
}

.btn-google-footer{
  color:#DC4A38;
}

.btn-google-footer:hover{
    background: #DC4A38;
    color: white;
}

.btn-instagram-footer{
  color:#d6249f;
}

.btn-instagram-footer:hover{
    background: #d6249f;
    color: white;
}

#Box4{
	text-align: justify;
  text-justify: inter-word;
}

footer .container-fluid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#Box3 center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}