#Footer{
    background-color:#333;
    color:#ffffff;
    margin-top:10%;
    height: 300px;
}

.footer{
padding-left:10%;
padding-right:10%;
padding-top: 3%;
padding-bottom:3%;
}

#Box1,#Box2,#Box3,{
    padding:30px;

}
.list-unstyled>li>a{
    color:#adadad;
}
#Box2>p{
    color:#adadad;
}
#Box2>a{
    color:#adadad;
     text-decoration: none!important;
}
#Box2 a:hover{
    color:#ffffff;
}


#linklist a:hover{
    text-decoration: none!important;
    color:#ffffff;
}

.btn-facebook,.btn-google,.btn-instagram{
	margin-right:5%;
	margin-left:5%;
  background-color:#fff;
  border-radius: 50%;
}

.btn-facebook:hover{
  background: #FFDA00;
  color: white;
}
.btn-google:hover{
  background: #FFDA00;
  color: white;
}
.btn-instagram:hover{
  background: #FFDA00;
  color: white;
}

#Box4{
	text-align: justify;
    text-justify: inter-word;
}
