#Footer{
  background-color:#333;
  color:#ffffff;
  margin-top:10%;
}

@media(max-width: 767px){
  #Footer .container-fluid{
    margin-bottom: 70px;
  }
}

.footer{
  padding-left:10%;
  padding-right:10%;
  padding-top: 3%;
  padding-bottom:3%;
}

#Box1,#Box2,#Box3,{
  padding:30px;

}

.list-unstyled>li>a{
  color:#adadad;
}

#Box2>p{
  color:#adadad;
}

#Box2>a{
  text-decoration: none!important;
}

#linklist a:hover{
  text-decoration: none!important;
  color:#ffffff;
}

.btn-facebook,.btn-google,.btn-instagram{
	margin-right:5%;
	margin-left:5%;
	background-color:#fff;
	border-radius: 50%;
}

.btn-facebook{
	color:#3B5998;
}

.btn-facebook:hover{
	background: #3B5998;
	color: white;
}

.btn-google{
	color:#DC4A38;
}

.btn-google:hover{
    background: #DC4A38;
    color: white;
}

.btn-instagram{
	color:#d6249f;
}

.btn-instagram:hover{
    background: #d6249f;
    color: white;
}

#Box4{
	text-align: justify;
  text-justify: inter-word;
}

footer .container-fluid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#Box3 center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}