#order .nav.nav-pills a:focus{
    border-bottom: 1px solid;
}

#order span.badge{
    margin-left:4px;
    background-color:#1E90FF;
}

.orderTable td{
    padding: 8px 0px !important;
}

.orderTable .orderRow:hover{
    background-color: #FFBE58;
}

.orderTable td a{
    display: block;
}

.my-orders-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.my-orders-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}