#my-orders-container{
	background-color: white;
}

#my-orders-nav .nav.nav-pills a:focus{
    border-bottom: 1px solid;
}

#my-orders-nav > li > a {
  border-bottom: 1px solid #efefef;
}

#my-orders-nav span.badge{
    margin-left:4px;
    background-color:#1E90FF;
}

.my-orders-table{
  border-left: 1px solid #efefef;
}

@media (min-width: 481px){
  .my-orders-table td{
    text-align: center;
  }
}

.my-orders-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.my-orders-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

.rating-complete{
  display: block;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}
.order-icon{
  text-align: center;
  margin-right:-150px;
  padding-top:30px;
}

@media (max-width: 480px){
	.my-orders-table > table, thead, tbody, th, td, tr { 
    display: block; 
  }

/* Hide table headers (but not display: none;, for accessibility) */
  .my-orders-table thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .my-orders-table tr { border: 1px solid #ccc; }
  
  .my-orders-table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }

  div.my-orders-table td.with:before { 
      content : attr(data-th) ": ";
      width: 6.5em;
      display: inline-block;
  }
}