#my-orders{
	background-color: white;
}

#order .nav.nav-pills a:focus{
    border-bottom: 1px solid;
}

#order span.badge{
    margin-left:4px;
    background-color:#1E90FF;
}

.orderTable td{
    padding: 8px 0px !important;
}

.orderTable .orderRow:hover{
    background-color: #FFBE58;
}

.orderTable td a{
    display: block;
}

.my-orders-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.my-orders-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

.rating-complete{
  display: block;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
}

@media (max-width: 480px){
	.my-orders-table > table, thead, tbody, th, td, tr { 
    display: block; 
  }

/* Hide table headers (but not display: none;, for accessibility) */
  .my-orders-table thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .my-orders-table tr { border: 1px solid #ccc; }
  
  .my-orders-table td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  .my-orders-table td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
}