.notic{
	margin-bottom: 1em;
	padding: 0;
	align-items: center;
	justify-content: center;
 
}

.notic .a-notic:hover{
  margin-top: -10px;
 
  transform: translate(0, -8);
}

.a-notic{
  cursor: pointer;
  width: 100%;
  padding: 0px 10px;
}


.a-notic:link {
    text-decoration: none;
}

.a-notic:visited {
    text-decoration: none;
}

.a-notic:hover {
    text-decoration: none;
}

.a-notic:active {
    text-decoration: none;
}

.notifcation-right{
  border-left:1px solid #efefef;;
}

