.order-details-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.order-details-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

#order-details-container{
  background-color: white;
}

#order-details-nav > li > a {
  font-size: large;
  border-bottom: 1px solid #efefef;
}

#order-details-content{
  border-left: 1px solid #efefef;
  padding-top: 15px;
  vertical-align: middle !important;
}

#table-border{
  border: 1px solid black;
}

#cell-border{
  border: 1px solid black;
}

.vertical-center {
    vertical-align: middle !important;
}


@media (max-width: 767px){
  #order-details-nav > li > a {
    font-size: large;
    border-bottom: 1px solid #efefef;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    margin-top: 10px;
  }
}

@media (max-width: 849px){
  .none{
    display: none;
  }
  
/* Hide table headers (but not display: none;, for accessibility) */
  #order-details-content thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  #order-details-content tr { border: 1px solid #ccc; }
  
  #order-details-content td { 
    /* Behave  like a "row" */
    border: none;
    position: relative;
    display: flex;
  }
  
  div#order-details-content td.with:before { 
      content : attr(data-th) ": ";
      display: flex;
      flex-basis: 50%;
      justify-content: flex-end;
      padding-right:10px; 
  }

  #order-details-content td > a{
    display: block;
  }
}

@media (max-width: 530px){
  #order-details-content > table, thead, tbody, th, td, tr { 
    display: block;
  }
}