.payment{
	background-color: white;
	width: 40%;	
}

.payment-header{
	border-bottom: 1px solid #cccabf;
}

.payment-title{
	font-size: 2.5em;
	font-weight: bold;
	font-weight: 500;
	line-height: 2.4em;
}

.button-div{
	width: 100%;
	margin-top:15px;
}

.payment-button{
	margin-left:25%;
	width: 50%;
	height: 40px;
}

ul.payment-selection li span{
	margin-right: 10px;
	font-size: 0.9em;
}

ul.payment-selection {
	list-style: none;
	margin : 0;
	padding:0;
	overflow: auto;
}

ul.payment-selection  li{
	display: block;
	position: relative;
	float:left;
	width: 100%;
	height: 100px;
	border:1px solid #cccabf;
	border-radius: 10px;
}

ul.payment-selection  li input[type=radio]{
	position: absolute;
	visibility: hidden;
}

ul.payment-selection li label{
	display: block;
	position: relative;
	font-weight: 300;
	font-size: 1.5em;
	padding: 25px 0px 25px 80px;
	margin:10px auto;
	height: 30px;
	z-index: 9;
	cursor: pointer;
	 -webkit-transition: all 0.25s linear;
}

ul.payment-selection li .check{
	display: block;
  	position: absolute;
  	border: 5px solid #AAAAAA;
  	border-radius: 100%;
  	height: 25px;
  	width: 25px;
  	top: 40px;
  	left: 20px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

div.check::before {
  	display: block;
  	position: absolute;
	content: '';
  	border-radius: 100%;
  	height: 12px;
  	width: 12px;
  	top:2px;
  	left:2px;
  	margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 5px solid #ffda00;
}

input[type=radio]:checked ~ .check::before{
  background: #ffda00;
}

@media(max-width: 970px){
	.payment{
		width: 70%;	
	}
}

@media(max-width: 480px){

	ul.payment-selection li label{
		font-size: 1.25em;	
	}

	ul.payment-selection li span{
		font-size: 0.8em;
	}

}




