.food-type{
  width: 100%;
  text-align: center;
   overflow: hidden;
   padding:15px 0px 0px 0px;
}


.food-type a:hover  {
  color: white;
  background-color: #007e90;

}

.food-type .box {
  height: 200px;
  background-color: #fff;
  transition: all 250ms ease;
  will-change: transition;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: relative;
  font-family: "Dax", sans-serif;
  font-weight: 900;
}

.food-type  a {
  display: block;
  font-size: 1.5em;
  color: #007e90;
  width: 100%;
  height:100%;
  
}

.food-type a span{
  position: absolute;
  transform: translate(0, 80px);
  left: 0;
  right: 0;
  transition: all 300ms ease;
  font-size: 1.5em;
  user-select: none;
}

.food-type a span i{
   position: absolute;
   top: -999;
  
}

.food-type a:not span i{
  font-size: 1.2em;
  font-family: FontAwesome;
  display: block;
  transform: translateY(-80px);
  opacity: 0;
  transition: all 300ms ease-in-out;
  font-weight: normal;
  color: white;
}
.food-type a:hover span i{
 
  transform: translate(0, -20px);
  top:-10;
  left: 0;
  right: 0;
  transition: all 500ms ease;
  font-size: 1.5em;
  user-select: none;
}


.col-xs-6{
	padding:0px 0px 0px 0px;
}





