h1,
h4{
	text-align:center;
}

.outer-container1{
  display:flex;
  align-items: center;
  justify-content:center;
  margin-top:-20px;
}

.menu-container1{
  display: grid;
  width:1000px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content:center;
}

.item1{
  font-size: 12px;
  color: black;
  background-color: white;
  align-self: center;
  justify-self: center;
  width: 500px;
}

.proceed-btn {
  margin: 40px auto;
	color: black;
}

.rating{
	font-size: 30px;
	text-align:center;
  margin: 10px;
	align:center;
  cursor: pointer;
}

.outer-container2{
  display:flex;
  align-items: center;
  justify-content:center;
}

.menu-container2{
  display: grid;
  width:800px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content:center;
}

.item2{
  font-size: 12px;
  color: black;
  background-color: white;
  min-width: 600px;
  min-height: 150px;
  border-bottom:1px solid #FFDA00;
}
.inner-item{
  margin:15px 0px 10px 50px;
  float:left;
}
.img{

  float:left;
}
.img img{
  margin-top:15px;
  margin-left: 20px;
  width:150px;
  height:150px;
}

.submit-btn {
  margin: 40px auto;
	color: black;
}

.button-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 767px){
  .raised-btn{
    width: 100%;
  }
}

@media(max-width: 500px){
  .item1{
    width: 300px;
  }

  .inner-item{
    margin:15px 25px 10px 25px;
  }
}

@media (max-width: 630px){
  .item2{
    min-width: 300px;
  }
}