.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.restaurant-img-div{
  position: relative;
}

#back{
  position: absolute;
}

.restaurant-img{
  height:300px; 
  width:450px;
  object-fit: cover;
}

.detail-img{
  width: 100%;
  height:300px;
  object-fit: cover;
}

.item{
  font-size: 24px;
  color: black;
  background-color: white;
  min-width: 300px;
  min-height: 202px;
  border: 1px solid #e5e5e5;
/*    -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5); */
  border-radius: 6px;
}

.foodDesc{
  font-size:15px;
  color:grey;
}

.item .small-text{
  font-size:15px;
  color:grey; 
  margin-top: 10px;
}

.item .price{
  font-size: 17px;
  color: black;
}

.item .tag{
  font-size: 13px;
  color: grey;
}

.item img{
  width:100%;
  height:200px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  object-fit: cover;
}

.info li{
  float: left;
  color: grey;
  list-style: none;
}

.info{
  padding: 0;
}

.info li::after{
  content: "\2022";
  padding-left: 8px;
  padding-right: 3px;
}

.info li.none::after{
  content: "";
}

.item .foodName{
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
}

.foodDesc-div{
  display: flex;
}

.item .foodDesc{
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 1 1 auto;
}

.restaurant-info-container h1{
  font-weight: bold;
}

.menu-container a:hover{
  box-shadow: 0px 0px 20px -2px grey;
  text-decoration: none !important;
}

.item .inner-item{
  margin:10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.foodName-div{
  display: flex;
  justify-content: space-between;
}

.restaurant-info-container{
  display: flex;
}

.restaurant-info-inner{
  flex: 1 1 auto;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.restaurant-name-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating{
  padding-bottom: 10px;
}

.info-div{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

#button-container{
  align-self: flex-end;
}

.menu-container a:focus{
  text-decoration: none;
  outline: none;
}

.modal-header{
  position: relative;
}

.bottom{
  position: absolute;
  bottom: 0;
  width:100%;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 24px;
}

.left-container{
  left:0;
  width:150px;
  height:100%;
  position:absolute;
  bottom:0;
  cursor:pointer;
  color:white;
  font-size:30px;
}

.w3-left{
  top:50%;
  transform:translate(0%,-50%);
  position:absolute;
  margin:10px;
}

.right-container{
  right:0;
  width:150px;
  height:100%;
  position:absolute;
  bottom:0;
  cursor:pointer;
  color:white;
  font-size:30px;
}

.w3-right{
  right:0;
  top:50%;
  transform:translate(0%,-50%);
  position:absolute;
  margin:10px;
}

.left-container:hover{
  background: linear-gradient(to right, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.85) 1%,rgba(0,0,0,0) 100%);
}

.right-container:hover{
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 99%,rgba(0,0,0,0.85) 100%);
}

.dots{
  display:inline-block;
  border-radius:50%;
  height:13px;
  width:13px;
  margin:5px;
}

.w3-border{
  border:1px solid #ccc;
}

.w3-white{
  background:#FFF;
}

@media(max-width: 500px){
  #button-container a{
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .restaurant-img{
    width:100%;
    height: 200px;
    object-fit: cover;
  }
}

@media(min-width: 320px){
  .menu-container{
    display: grid;
    width:1200px;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
  }
}

@media (max-width: 767px){
  .restaurant-info-container{
    flex-direction: column;
  }

  #button-container{
    width: 100%;
  }

  .restaurant-img{
    width:100%;
    object-fit: cover;
  }

  .resize-btn{
    width: 49%;
  }
}

@media(min-width: 768px){
  .restaurant-img{
    height: 200px;
    width: 300px;
    object-fit: cover;
  }

  .menu-container{
    display: grid;
    width:1200px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
  }
}

@media(min-width:992px){
  .menu-container{
    display: grid;
    width:1200px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
  }

  .restaurant-img{
    height: 300px;
    width: 450px;
    object-fit: cover;
  }

  #back{
    display:none;
  }
}

@media(min-width: 1200px){
  .menu-container{
    display: grid;
    width:1200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
  }

  #back{
    display:none;
  }
}

@media(max-width:730px){
  .scrollToTop{
    padding:25px; 
    z-index:99; 
    background-color:#FFDA00;
    text-decoration: none;
    position:fixed;
    top:80%;
    right:8%;
    display:none;
    background: url('./../SysImg/Icon2.png') no-repeat;
    background-size: 40px 40px;
    background-color:#FFDA00;
    background-position: center;
    border-radius: 50%;
    margin-top:20px;
  }

  .scrollToTop:hover{
    text-decoration:none;
  }
}
