.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.menu-container a{
  
}

@media (min-width: 1200px){
  #group-area-index2 .menu-container{
    grid-template-columns: 1fr 1fr;
  }

  #group-area-index2 .item .inner-item{
    width: 50%;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  #group-area-index2 .menu-container{
    grid-template-columns: 1fr;
  }

  #group-area-index2 .item .inner-item{
    width: 69%;
  }
}

@media (max-width: 991px){
  #group-area-index2 .menu-container{
    grid-template-columns: 1fr;
  }

  #group-area-index2 .item .inner-item{
    width: 50%;
  }
}

.menu-container{
  display: grid;
  width:1200px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 50px;
  align-items: center;
  justify-content:center;
}

.item{
  font-size: 24px;
  color: black;
  background-color: white;
  min-width: 300px;
  min-height: 190px;
  border: 1px solid #e5e5e5;
}

.item p{
  font-size:15px;
  color:grey;
}

.item .small-text{
   font-size:15px;
  color:grey; 
  margin-top: 10px;
}

.item .price{
    font-size: 17px;
    color: black;
}

.item .inner-item{
  margin:10px 4px 10px 30px;
  float:right;
}

.item .tag{
    font-size: 13px;
    color: grey;
}

.item .img{
  float:left;
}

.item img{
  width:188px;
  height:188px;
}

.menu-container a:hover{
    box-shadow: 0px 0px 20px -2px grey;
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.item .foodName{
  display: block;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item .foodDesc{
  display: block;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media(max-width: 480px){
  .item .inner-item{
    float:none;
  }

  .item .img{
    float:none;
  }

  .item img{
    width: 250px;
    height: 200px;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
}