.page-wrap{
  min-height: 0 !important;
}

.container{
  margin-bottom: 200px;
}

.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
}

.all-status{
  width: 100%;
  padding:25px;
}
.a-change{
  float:right;
  color:red;
  padding-right: 25px;
}

.restaurant-name{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .inner-item{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.list .img{
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width:100%;
  height:200px;	
  object-fit: cover;
  transition: linear 0.2s;
}

.list:hover .img{
  transform: scale(1.06);
}

.page-img{
  overflow: hidden;
}

.menu-container{
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 50px;
  align-items: center;
  justify-content:center;
}

  #filter-btn{
    display: none;
  }

   #halal-btn{
    display: none;
  }


@media (min-width: 1200px){
  .menu-container{
    width:775px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .menu-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px){
  .menu-container{
    grid-template-columns: 0.5fr;
  }
}

@media(max-width: 767px){
  #group-area-index h1{
    text-align: center;
  }

  #filter-btn{
    display: block;
    width: 300px;
    margin: auto;
  }

  #halal-btn{
    display: block;
    width: 300px;
    margin: auto;
    margin-top: 15px;
  }

  .btn-on-ph,.btn-off-ph{
     width: 150px;
     font-size: 14px;
  }

}

.btn-on-pc,.btn-off-pc{
  width: 130px;
  font-size: 14px;
}

.btn-default.btn-on-ph.active{background-color:#FFDA00;font-weight:bolder; font-size: 15px;margin-top:-1px;}
.btn-default.btn-off-ph.active{background-color:#FFDA00;font-weight:bolder;font-size: 15px;margin-top:-1px; }

.btn-default.btn-on-pc.active{background-color:#FFDA00;font-weight:bolder;font-size: 15px;margin-top:-1px;}
.btn-default.btn-off-pc.active{background-color:#FFDA00;font-weight:bolder;font-size: 15px;margin-top:-1px;}

.list{
  font-size: 18px;
  color: black;
  background-color: white;
  min-width: 298px;
  max-width: 298px;
  min-height: 200px;
  font-weight: 700;
  border: 1px solid white;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.list .name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 60%;
}

.list ul{
  padding: 0;
}

.tag{
  list-style-position: inside;
}

.tag li{
  float:left;
  margin-right: 6px;
  font-size: 13px;
  color: grey;
}

.tag li.none{
  list-style-type: none;
}

.menu-container a:hover{
  text-decoration:none !important;
}

.menu-container a:hover{
  box-shadow: 0px 0px 20px -2px grey;
}

.item-na-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 0px!important;
  font-size: 40px;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

/* @-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}  
@keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
} */

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.visuallyHidden{
  -webkit-animation: fadeOut 2s;
  animation: fadeOut 2s;
}

.hideItem{
  display: none;
  /* opacity: 0; */
  /* -webkit-animation: fadeOut 2s;
  animation: fadeOut 2s; */
}

.showItem{
  display: block;
  opacity: 1;
  -webkit-animation: fadeIn 0.5s ease-in-out both;
  animation: fadeIn 0.5s ease-in-out both;
}

.showItemFlex{
  display: flex;
  opacity: 1;
  -webkit-animation: fadeIn 0.5s ease-in-out both;
  animation: fadeIn 0.5s ease-in-out both;
}

/* .menu-container a{
  transition: all 2s;
} */