#restaurant-earnings-container{
  background-color: white;
}

#restaurant-earnings-nav > li > a {
  border-bottom: 1px solid #efefef;
}

#restaurant-earnings-content{
  border-left: 1px solid #efefef;
}

#w0{
    display:inline-flex;
    padding-top:3%;
    height:100px;
}

#month{
  padding-right: 5px;
}
#year{
  padding-left: 0px;
  padding-right: 0px;
}

#filter-button{
   margin-top: 5px
}



.earning-left{
  margin-top:2em;
}

.earning-left .form-group{
  margin-bottom: 15px;
}

.restaurant-earnings-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.restaurant-earnings-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

@media (max-width: 768px){
 
  #restaurant-earnings-content{
    border-left: 0px;
  }
}

@media(max-width: 480px){
  #year{
    width: 50%;
     padding-right: 15px;
  }
  #month{
    width: 50%;
  }
}