.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.a-change{
  float:right;
  color:red;
  font-style: italic;
}

.restaurant-name{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list .inner-item{
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.list .img{
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width:100%;
  height:200px;	
  object-fit: cover;
  transition: linear 0.2s;
}

.list:hover .img{
  transform: scale(1.06);
}

.page-img{
  overflow: hidden;
}

.menu-container{
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 50px;
  align-items: center;
  justify-content:center;
}

@media (min-width: 1200px){
  .menu-container{
    width:775px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .menu-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px){
  .menu-container{
    grid-template-columns: 0.5fr;
  }
}

/* @media(max-width: 767px){
  .menu-container{
    grid-template-columns: 1fr 1fr;
  }
} */

.list{
  font-size: 18px;
  color: black;
  background-color: white;
  min-width: 298px;
  max-width: 298px;
  min-height: 200px;
  font-weight: 700;
  border: 1px solid white;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.list .name{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 60%;
}

.list ul{
  padding: 0;
}

.tag{
  list-style-position: inside;
}

.tag li{
  float:left;
  margin-right: 6px;
  font-size: 13px;
  color: grey;
}

.tag li.none{
  list-style-type: none;
}

.menu-container a:hover{
  text-decoration:none !important;
}

.menu-container a:hover{
  box-shadow: 0px 0px 20px -2px grey;
}