.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.restaurant-img{
  height:250px; 
  width:350px; 
  margin:auto;
}

.img{
  border-top-left-radius: 6px;
}

@media(min-width: 320px) and (max-width: 370px){
  #button-container{
    float:none; 
  }

  #button-container a{
    display: block;
  }
}

@media(max-width: 449px){
  .img{
    float: none;
  }
}

@media(max-width: 730px){
  .img img{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .restaurant-info-inner{
    float: left;
    width: 100%;
  }

  hr.restaurantdetails-hr{
    margin-top:400px; 
  }

  .item .inner-item{
    margin:10px 10px 10px 10px;
  }

  .restaurant-info-container .rating{
    margin-top: 80px;
    margin-bottom: 15px;
  }
}

@media(min-width: 320px){
  .menu-container{
    display: grid;
    width:1200px;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
  }
}

@media(max-width: 730px) and (min-width: 531px){
  .restaurant-info-inner{
    float: left;
    width: 100%;
  }

  hr.restaurantdetails-hr{
    margin-top:400px; 
  }

  .restaurant-info-container .rating{
    margin-top: 35px;
  }

  .item .inner-item{
    margin:10px 10px 10px 10px;
    float:right;
    width: 58%;
  }

  #button-container{
    margin-top: 6px;
  }

  .restaurant-info-container{
    margin-bottom: 0px;
  }

  .item .img{
    float:left;
  }
}

@media (min-width: 731px){
  .menu-container{
    display: grid;
    width:1200px;
    grid-template-columns: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
  }

  #button-container{
    margin-top: 100px;
    float: right;
  }

  .restaurant-info-container{
    margin-bottom: 150px;
  }

  .item .img{
    float:left;
  }
}

@media(max-width:991px) and (min-width: 731px){
  .restaurant-info-container h1{
    margin-left: 51%;
  }

  .restaurant-info-container .info{
    margin-left: 48%;
  }

  .restaurant-info-container .rating{
    margin-left: 51%;
    margin-top: 8%;
  }

  .item .inner-item{
    margin:10px 10px 10px 10px;
    float:right;
    width: 66%;
  }
}

@media(min-width:992px){
  .menu-container{
    display: grid;
    width:1200px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-bottom: 50px;
    align-items: center;
    justify-content:center;
  }
}

@media(max-width: 1199px) and (min-width:992px){
  .restaurant-info-container h1{
    margin-left: 40%;
  }

  .restaurant-info-container .info{
    margin-left: 38%;
  }

  .restaurant-info-container .rating{
    margin-left: 40%;
    margin-top: 4%;
  }

  .item .inner-item{
    margin:10px 10px 10px 10px;
    float:right;
    width: 54%;
  }
}

@media(min-width: 1200px){
  .restaurant-info-container h1{
    margin-left: 32%;
  }

  .restaurant-info-container .info{
    margin-left: 30%;
  }

  .restaurant-info-container .rating{
    margin-left: 32%;
    margin-top: 3%;
  }

  .item .inner-item{
    margin:10px 10px 10px 10px;
    float:right;
    width: 59%;
  }
}

.item{
  font-size: 24px;
  color: black;
  background-color: white;
  min-width: 300px;
  min-height: 190px;
  border: 1px solid #e5e5e5;
   -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
  border-radius: 6px;
}

.item p{
  font-size:15px;
  color:grey;
}

.item .small-text{
  font-size:15px;
  color:grey; 
  margin-top: 10px;
}

.item .price{
  font-size: 17px;
  color: black;
}

.item .tag{
  font-size: 13px;
  color: grey;
}

.item img{
  width:188px;
  height:188px;
}

.info li{
  float: left;
  margin-right: 20px;
  color: grey;
}

.info li.none{
  list-style-type: none;
  margin-left:-20px;
}

.item .foodName{
  display: block;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item .foodDesc{
  display: block;
  width: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-info-container h1{
  font-weight: bold;
}

.menu-container a:hover{
  box-shadow: 0px 0px 20px -2px grey;
}