.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.menu-container{
  display: grid;
  width:1200px;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  margin-bottom: 50px;
  align-items: center;
  justify-content:center;
}

.outer-item{
  border: 1px solid #e5e5e5;
}

.item-no-border{
  font-size: 24px;
  color: black;
  background-color: white;
  min-width: 300px;
  min-height: 160px;
  border-bottom:1px solid #FFDA00;
  padding-right: 20px;
  cursor:pointer;
  display: flex;
}

.item-no-border p{
  font-size:16px;
  color:grey;
}

.item-no-border .small-text{
   font-size:15px;
  color:grey; 
  margin-top: 10px;
}

.item-no-border .price{
    font-size: 17px;
    color: black;
}

.item-no-border .inner-item{
  margin:10px 0px 10px 30px;
  width: auto;
  flex-grow: 2;
}

.item-no-border .restaurant-name-div{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.item-no-border .tag{
  font-size: 13px;
  color: grey;
}

.item-no-border img{
	margin-top:15px;
  width:130px;
  height:130px;
}

.restaurant-name{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.outer-item :hover{
   background-color: #fffbe5;
}

#res{
  margin: 10px 10px 10px 10px;
  float: right;
}
#res:hover{
	 background-color: #e67300; 
}

#food{
  margin: 10px 10px 10px 10px;
  float: right;
}
#food:hover{
   background-color: #e67300; 
}

#resume{
  margin: 10px 10px 10px 10px;
  float: right;
}
#resume:hover{
   background-color: #1a651a; 
}

#pause{
  margin: 10px 10px 10px 10px;
  float: right;
}
#pause:hover{
   background-color: #ff1a1a; 
}

@media (max-width: 767px){
  .menu-container{
    width: 100%;
  }
}

@media (max-width: 410px){
  .img img{
    display: none;
  }

  .item-no-border{
    min-width: 250px;
  }
}