.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.restaurant-name{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.list .img{
  margin-bottom: 20px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  width:100%;
  height:200px;	
}



.menu-container{
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 50px;
  align-items: center;
  justify-content:center;
}

@media (min-width: 1200px){
  .menu-container{
    width:775px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .menu-container{
    grid-template-columns: 1fr 1fr;
  }

  #group-area-index .list{
    width: 298px;
    height: 298px;
  }
}

@media (max-width: 991px){
  .menu-container{
    grid-template-columns: 0.5fr;
  }
}

.list{
  font-size: 18px;
  color: black;
  background-color: white;
  min-width: 298px;
  min-height: 298px;
  font-weight: 700;
  border: 1px solid white;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
  border-radius: 6px;
}

.list .name{
  margin: 0px 0px 0px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 60%;
}

.list ul{
  margin: 10px 10px 10px 0px;
}

.tag{
  margin-left:-20px;
}

.tag li{
  float:left;
  margin-right: 20px;
  font-size: 13px;
  color: grey;
}
.tag li.none{
  list-style-type: none;
  margin-left:20px;
}

.list a:hover{
  text-decoration:none;
}

.menu-container a:hover{
  box-shadow: 0px 0px 20px -2px grey;
}

#group-area-index .rating{
  margin-right: 10px;
  position: absolute;
  right: 0;
  top:0;
}





