.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.menu-container a{
  text-decoration: none;
}

.detail-img{
  height:300px; 
  width:598px; 
  margin-top:auto;
}

@media (min-width: 1200px){
  #group-area-index2 .menu-container{
    grid-template-columns: 1fr 1fr;
  }

  .item .foodName{
    width: 185px;
  }

  .item .foodDesc{
    width: 185px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){

  .item .foodName{
    width: 420px;
  }

  .item .foodDesc{
    width: 420px;
  }
}

@media (max-width: 991px){

  .item .foodName{
    width: 185px;
  }

  .item .foodDesc{
    width: 185px;
  }
}

.menu-container{
  display: grid;
  width:1200px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin-bottom: 50px;
  align-items: center;
  justify-content:center;
}

.item{
  font-size: 24px;
  color: black;
  background-color: white;
  min-width: 300px;
  min-height: 190px;
  border: 1px solid #e5e5e5;
  border-radius: 6px;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.5);
}

.item p{
  font-size:15px;
  color:grey;
}

.item .small-text{
  font-size:15px;
  color:grey; 
  margin-top: 10px;
}

.item .price{
  font-size: 17px;
  color: black;
}

.item .inner-item{
  margin:10px;
  margin-left:200px; 
}

.item .tag{
  font-size: 13px;
  color: grey;
}

.item .img{
  float:left;
  
}

.item img{
  width:188px;
  height:188px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}

.menu-container a:hover{
  box-shadow: 0px 0px 20px -2px grey;
}

.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}

.item .foodName{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item .foodDesc{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media(max-width: 745px){
  .item .inner-item{
    float:none;
    margin-left: 10px;
  }

  .item .img{
    float:none;
  }

  .item img{
    width: 100%;
    height: 200px;
    display:block;
  }

  .item img{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 0px;

  }
}

@media(max-width: 480px){
  .item .inner-item{
    float:none;
    margin-left: 10px;
  }

  .item .img{
    float:none;
  }
}