.restaurant-orders-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.restaurant-orders-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

#restaurant-orders-container{
  background-color: white;
}

#restaurant-orders-nav > li > a {
  border-bottom: 1px solid #efefef;
}

#restaurant-orders-content{
  border-left: 1px solid #efefef;
  padding-top: 15px;
}

#restaurant-orders-nav span.badge{
    margin-left:4px;
    background-color:#1E90FF;
}

.switchbutton
{
  float:right;
  margin-bottom: 10px;
}

@media (max-width: 549px){
  .switchbutton
  {
    float:none;
    width: 100%;
    margin-bottom: 10px;
  }

  .switchbutton a{
    width: 100%;
  }
  
	#restaurant-orders-content > table, thead, tbody, th, td, tr { 
    display: block; 
  }

/* Hide table headers (but not display: none;, for accessibility) */
  #restaurant-orders-content thead.none tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  #restaurant-orders-content tr { border: 1px solid #ccc; }
  
  #restaurant-orders-content td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
  }
  
	div#restaurant-orders-content td:before { 
      content : attr(data-th) ": ";
      width: 5.5em;
      display: inline-block;
      font-weight: bold;
  }
}