
html,
body {
    height: 100%;
}
h1
 {
   font-family: cursive;
  font-weight: 500;
}
h2
{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  font-weight: 500;
}

.wrap {
  
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
     margin-top:4%;
	 
}
.wrap > .topnav.navbar-fixed-top {

    background-color:#FFDA00;
    height: 64px;

}

.navbar-brand > img {
    margin-top:-15px;
    padding-right: 40px;
    width : 400px;
    height: 3.6em;
}

.navbar-brand {
    color:white;
}
.navbar-nav > li > a {
    color:#404040;
    line-height: 33px
}

.form-group{
	margin-bottom: 35px;
}

/*.footer {
	border-top: 1px solid #ddd;
	
	bottom: 0px; 
	width: 100%; 
	height: 30px; 
	background-color: #f5f5f5;
    
}*/

.jumbotron {
    text-align: center;
    background-color: transparent;
    
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    color:white;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.five label{
	width:25%;
	  
}
.row1{
	 margin-top:30px;
    padding-left: 5px;
	 padding:50px;
	 
}
.container{
	 margin-top:30px;
}
.site-signup{
	 margin-top:50px;
}
.site-login{
	 margin-top:50px;
}
.site-request-password-reset{
	 margin-top:50px;
}

.tableHeader{
	 margin-top:30px;
}

.orderTable td{
    padding: 8px 0px !important;
}

.orderTable .orderRow:hover{
    background-color: #FFBE58;
}

.orderTable td a{
    display: block;
}
.container2{
	
    padding:50px;
    margin:auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:70%;
	height:70%;
}
#grad {
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(255, 241, 221),rgba(255,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(255, 241, 221),rgba(255,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(255, 241, 221),rgba(255,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(255, 241, 221),rgba(255,0,0,0)); /* Standard syntax (must be last) */
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.bounce{
    animation: bounce 1s;
}
.img-circular{
margin-top:30px;
 width: 120px;
 height: 120px;
 background-image: url('../SysImg/rimg1-1200x400.jpg');
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 
  
}

.rowa{
	 padding-bottom:30px;
}
.content-box{
	
	position: absolute; 
	width: 150px; 
	height: 100px; 
	border:1.5px; 
	top: 100px; 
	left: 100px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
}
#grad1 {
    background: orange; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,  rgb(214, 254, 255),rgb(255, 255, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,   rgb(214, 254, 255),rgb(255, 255, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(214, 254, 255),rgb(255, 255, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,  rgb(214, 254, 255),rgb(255, 255, 255)); /* Standard syntax (must be last) */
}
#grad2 {
    background: orange; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,  rgb(255, 255, 255),rgb(242, 213, 241)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,   rgb(255, 255, 255),rgb(242, 213, 241)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,  rgb(255, 255, 255),rgb(242, 213, 241)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,   rgb(255, 255, 255),rgb(242, 213, 241)); /* Standard syntax (must be last) */
}
#grad3 {
    background: orange; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,  rgb(253, 255, 219),rgb(255, 255, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,   rgb(253, 255, 219),rgb(255, 255, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(253, 255, 219),rgb(255, 255, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,   rgb(253, 255, 219),rgb(255, 255, 255)); /* Standard syntax (must be last) */
}
@import 'compass';


div.dotted {
  width:300px;
  height:400px;
  position:relative;
}
 svg.dotted  {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  stroke: #ffa500; 
  stroke-width: 3px;
  stroke-dasharray:  0.25 4;
  stroke-dashoffset: 8;
  stroke-linecap:round;                                    
	fill: none;
}
@import "compass/css3";



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.ima {
  font-family: 'Asap', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #42eef4;
  }
.thoughts {
  background-size: 1070px;
  position: absolute;
  display: block;
}

.contactcharacter {
  position: relative;
  display: block;
  overflow: hidden;
}
  .contentwrapper {
    width: 1280px;
    height: 750px;
    margin: 10px auto 0;
    position: relative;
    transition: height 1s ease-in-out;
  }


  

  

  // THOUGHTS
  .thoughts {
   
  
    animation: bob 4s ease-in-out infinite alternate;
    transition: all 1s cubic-bezier(0.760, -0.265, 0.195, 1.260);
    transition-property: left, right, top, bottom;
  }
   

.p {
        font-size: 24px;
line-height: 1.45em;}
        &:nth-child(1) {
          margin-bottom: 0;
        }
        &:nth-child(3) {
          margin-top: 0;
        }
     
    .imawhat {
      display: none;
    }
    



@keyframes bob {
  0%   { transform: translateY(0); }
  100% { transform: translateY(20px); }
}
/* CSS for frontend topup history and withdraw history */
#topup-history-container table, 
#topup-history-container th,
#topup-history-container td,
#withdraw-history-container table, 
#withdraw-history-container th,
#withdraw-history-container td,
#mp-history-container table,
#mp-history-container th,
#mp-history-container td{
  border:1px solid #ddd;
  padding: 10px;
}

#topup-history-container #display td,
#mp-history-container #display td,
#withdraw-history-container #display td{
  border-bottom:hidden; 
}

#topup-history-container #withdraw:hover{
  background-color: #fdf8e4;
}

#withdraw-history-container #topup:hover{
  background-color: #fdf8e4;
}
#mp-history-container #mp:hover{
	background-color: #fdf8e4;
}
#topup-history-container #display td:active,
#mp-history-container #display td:active,
#withdraw-history-container #display td:active{
  background-color: #f4d96c;
}

#topup-history-container #display tr,
#mp-history-container #display tr,
#withdraw-history-container #display tr{
  text-align: center; 
  height:60px; 
  font-size:20px;
}

#topup-history-container #topup{
  -webkit-box-shadow: -3px -3px 5px -3px black;
  -moz-box-shadow: -3px -3px 5px -3px black;
  box-shadow: -3px -3px 5px -3px black;
}

#topup-history-container #withdraw{
  -webkit-box-shadow: inset 3px -3px 5px -3px black;
  -moz-box-shadow: inset 3px -3px 5px -3px black;
  box-shadow: inset 3px -3px 5px -3px black;
  cursor:pointer; 
}
#topup-history-container #mp{
  -webkit-box-shadow: inset 0px -3px 5px -3px black;
  -moz-box-shadow: inset 0px -3px 5px -3px black;
  box-shadow: inset 0px -3px 5px -3px black;
  cursor:pointer; 
}
#withdraw-history-container #topup{
  cursor:pointer;  
  -webkit-box-shadow: inset -3px -3px 5px -3px black;
  -moz-box-shadow: inset -3px -3px 5px -3px black;
  box-shadow: inset -3px -3px 5px -3px black;
}

#withdraw-history-container #withdraw{
  -webkit-box-shadow: 3px -3px 5px -3px black;
  -moz-box-shadow: 3px -3px 5px -3px black;
  box-shadow: 3px -3px 5px -3px black;
  border-bottom: hidden;
}

.modal-header{
  background-color: #FFDA00;
}

#withdraw-history-container #mp{
  cursor:pointer;  
  -webkit-box-shadow: inset 3px -3px 5px -3px black;
  -moz-box-shadow: inset 3px -3px 5px -3px black;
  box-shadow: inset 3px -3px 5px -3px black;
}

#mp-history-container #topup{
  cursor:pointer;  
  -webkit-box-shadow: inset 0px -3px 5px -3px black;
  -moz-box-shadow: inset 0px -3px 5px -3px black;
  box-shadow: inset 0px -3px 5px -3px black;
}

#mp-history-container #withdraw{
 -webkit-box-shadow: inset -3px -3px 5px -3px black;
  -moz-box-shadow: inset -3px -3px 5px -3px black;
  box-shadow: inset -3px -3px 5px -3px black;
  cursor:pointer;
}
#mp-history-container #mp{
   -webkit-box-shadow: 3px -3px 5px -3px black;
  -moz-box-shadow: 3px -3px 5px -3px black;
  box-shadow: 3px -3px 5px -3px black;
  border-bottom: hidden;
}

.menu-title {

  color:#ff7788;
  font-size:1.5rem;
  display:inline-block;
}

.dropdown-menu.divider {
  margin:5px 0;          
}

.item-title {
 font-size:1.3rem;
 color:#000; 
}

.item-info{
  font-size : 1.2rem;
}

.button-three {
    position: relative;
    background-color: #FFDA00;
    border: none;
    padding: 10px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
	border-radius: 20px;
}

.button-three:hover{
   background:#fff6c6;
   box-shadow:0px 1px 10px 0px #ffcc00;
   color:#000;
}

.button-three:after {
    content: "";
    background: #f1c40f;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button-three:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}





