
html,
body {
    height: 100%;
}
h1,
h2,
h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  font-weight: 500;
}
.wrap {
  
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
     margin-top:4%;
	 
}
.wrap > .topnav.navbar-fixed-top {
    background-color:orange;

}

.navbar-brand {
    color:white;
}
.navbar-nav > li > a {
    color:white;
}

.form-group{
	margin-bottom: 35px;
}

.footer {
	border-top: 1px solid #ddd;
	position:fixed;
	bottom: 0px; 
	width: 100%; 
	height: 30px; 
	background-color: #f5f5f5;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    color:white;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.five label{
	width:25%;
	  
}
.row1{
	 margin-top:30px;
    padding-left: 5px;
	 padding:50px;
	 
}
.container{
	 margin-top:30px;
}
.site-signup{
	 margin-top:50px;
}
.site-login{
	 margin-top:50px;
}
.site-request-password-reset{
	 margin-top:50px;
}

.tableHeader{
	 margin-top:30px;
}

.orderTable td{
    padding: 8px 0px !important;
}

.orderTable .orderRow:hover{
    background-color: #FFBE58;
}

.orderTable td a{
    display: block;
}
.container1{
	background-color: rgba(192,192,192,0.3);
    padding:50px;
    margin:auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:70%;
	height:70%;
}
#grad {
    background: orange; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(255, 241, 221),rgba(255,0,0,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(255, 241, 221),rgba(255,0,0,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(255, 241, 221),rgba(255,0,0,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(255, 241, 221),rgba(255,0,0,0)); /* Standard syntax (must be last) */
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.bounce{
    animation: bounce 1s;
}
.img-circular{
margin-top:30px;
 width: 120px;
 height: 120px;
 background-image: url('../SysImg/rimg1-1200x400.jpg');
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 
  
}
.content-box{
	
	position: absolute; 
	width: 150px; 
	height: 100px; 
	border:1.5px; 
	top: 100px; 
	left: 100px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
}
#grad1 {
    background: orange; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,  rgb(214, 254, 255),rgb(255, 255, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,   rgb(214, 254, 255),rgb(255, 255, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(214, 254, 255),rgb(255, 255, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,  rgb(214, 254, 255),rgb(255, 255, 255)); /* Standard syntax (must be last) */
}
#grad2 {
    background: orange; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,  rgb(255, 255, 255),rgb(242, 213, 241)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,   rgb(255, 255, 255),rgb(242, 213, 241)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right,  rgb(255, 255, 255),rgb(242, 213, 241)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,   rgb(255, 255, 255),rgb(242, 213, 241)); /* Standard syntax (must be last) */
}
#grad3 {
    background: orange; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left top,  rgb(253, 255, 219),rgb(255, 255, 255)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right,   rgb(253, 255, 219),rgb(255, 255, 255)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(253, 255, 219),rgb(255, 255, 255)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right,   rgb(253, 255, 219),rgb(255, 255, 255)); /* Standard syntax (must be last) */
}
@import 'compass';


div.dotted {
  width:300px;
  height:400px;
  position:relative;
}
 svg.dotted  {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  stroke: #ffa500; 
  stroke-width: 3px;
  stroke-dasharray:  0.25 4;
  stroke-dashoffset: 8;
  stroke-linecap:round;                                    
	fill: none;
}
@import "compass/css3";



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.ima {
  font-family: 'Asap', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #42eef4;
  }
.thoughts {
  background-size: 1070px;
  position: absolute;
  display: block;
}

.contactcharacter {
  position: relative;
  display: block;
  overflow: hidden;
}
  .contentwrapper {
    width: 1280px;
    height: 750px;
    margin: 10px auto 0;
    position: relative;
    transition: height 1s ease-in-out;
  }


  

  

  // THOUGHTS
  .thoughts {
   
  
    animation: bob 4s ease-in-out infinite alternate;
    transition: all 1s cubic-bezier(0.760, -0.265, 0.195, 1.260);
    transition-property: left, right, top, bottom;
  }
   

.p {
        font-size: 24px;
line-height: 1.45em;}
        &:nth-child(1) {
          margin-bottom: 0;
        }
        &:nth-child(3) {
          margin-top: 0;
        }
     
    .imawhat {
      display: none;
    }
    



@keyframes bob {
  0%   { transform: translateY(0); }
  100% { transform: translateY(20px); }
}

