html,
body {
    height: 100%;
}
h1,
h2,
h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  font-weight: 500;
}
.wrap {
  
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
     margin-top:4%;
	 
}
.wrap > .topnav.navbar-fixed-top {
    background-color:orange;

}

.navbar-brand {
    color:white;
}
.navbar-nav > li > a {
    color:white;
}

.form-group{
	margin-bottom: 35px;
}

.footer {
	border-top: 1px solid #ddd;
	position:fixed;
	bottom: 0px; 
	width: 100%; 
	height: 30px; 
	background-color: #f5f5f5;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    color:white;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.five label{
	width:25%;
	  
}
.row1{
	 margin-top:30px;
    padding-left: 5px;
	 padding:50px;
	 
}
.container{
	 margin-top:30px;
}
.site-signup{
	 margin-top:50px;
}
.tableHeader{
	 margin-top:30px;
}

.orderTable .orderRow:hover{
    background-color: #FFBE58;
}

.orderTable td a{
    display: block;
}