@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto+Slab');
@import url('https://afeld.github.io/emoji-css/emoji.css');

html,
body {
  height: 100%;
  font-family: 'Open Sans', "Hiragino Sans GB",冬青黑体,"SimHei",黑体, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  background-color: #F8F8F8;
}

html::-webkit-scrollbar-track,
div::-webkit-scrollbar-track{
  background-color: transparent;
}

html::-webkit-scrollbar,
div::-webkit-scrollbar{
  width: 12px;
  background-color: transparent;
}

html::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #E8C700;
}

.page-wrap{
  flex: 1 0 auto;
}

.wrap {
  height: auto;
  padding: 0 0 60px;
}

.wrap > .topnav.navbar-fixed-top {
  background-color:#FFDA00;
  height: 64px;
}

.navbar-brand > img {
  margin-top:-15px;
  padding-right: 40px;
  width : 400px;
  height: 3.6em;
}


#system-messages {
  position:fixed;
  top:80px;
  right:25%;
  width:50%;
  z-index:5000;
}

/*
* for icon in small screen
*/
@media (min-width: 768px) and (max-width: 960px) {
  .navbar-brand > img {
    margin-top:-15px;
    padding-right: 40px;
    height: 3.6em;
  }
}

@media (max-width: 767px) {
  .navbar-brand > img {
    margin-top:-15px;
    padding-right: 40px;
  }

  .container{
    width: 100%;
  }

  #login-modal{
    width: 50%;
    margin: 0 auto;
  }
}

@media(max-width: 480px){
  .container{
    width: 100%;
  }

  #login-modal{
    width: 100%;
  }
}

/*
* navbar drop down desgin
*/
#uppernavbar .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #141100;
  text-decoration: none;
  background-color: #fff6c4;
  outline: 0;
}

#uppernavbar .navbar-nav .navbar-right >nav{
  color:white;
}

#uppernavbar .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #ebc900;
}

#uppernavbar .nav > li > a:hover, .nav > li > a:focus {
  background-color: #ebc900;
}

#uppernavbar .dropdown{
  background-color:#FFDA00;
}

#uppernavbar .dropdown-menu .divider{
  background-color:#ffef00;
}

#uppernavbar .navbar-nav > li > a {
  color:#404040;
  line-height: 33px;
  background-color:#FFDA00;
}

.inner-notic > li >a{
  display: block;
  padding: 2px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
}

#notication ul.dropdown-menu{
  width: 350px;
}

.inner-notic {
  max-height: 500px;
  overflow-x: hidden;
}

/*
* navbar drop down design end
*/

.jumbotron {
  text-align: center;
  background-color: transparent;  
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

/*.grid-view td {
    white-space: nowrap;
}*/

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
  color:white;
}

@media(max-width:767px) {
  .nav li > form > button.logout {
    display:block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
    
}

.nav > li > form > button.logout:focus {
  outline: none;
}

.row1{
	margin-top:30px;
  padding-left: 5px;
	padding:50px;
}

.site-signup{
	margin-top:50px;
}

.site-login{
	margin-top:50px;
}

.site-request-password-reset{
	margin-top:50px;
}

.img-circular{
  margin-top:30px;
  width: 120px;
  height: 120px;
  background-image: url('../SysImg/rimg1-1200x400.jpg');
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px; 
}

.rowa{
	padding-bottom:30px;
}

.content-box{
	position: absolute; 
	width: 150px; 
	height: 100px; 
	border:1.5px; 
	top: 100px; 
	left: 100px; 
	-webkit-border-radius: 15px; 
	-moz-border-radius: 15px; 
	border-radius: 15px;
}

@import 'compass';

div.dotted {
  width:300px;
  height:400px;
  position:relative;
}
 svg.dotted  {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  stroke: #ffa500; 
  stroke-width: 3px;
  stroke-dasharray:  0.25 4;
  stroke-dashoffset: 8;
  stroke-linecap:round;                                    
	fill: none;
}

@import "compass/css3";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ima {
  font-family: 'Asap', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: #42eef4;
}

.thoughts {
  background-size: 1070px;
  position: absolute;
  display: block;
}

.contactcharacter {
  position: relative;
  display: block;
  overflow: hidden;
}

.contentwrapper {
  width: 1280px;
  height: 750px;
  margin: 10px auto 0;
  position: relative;
  transition: height 1s ease-in-out;
}

  //THOUGHTS
  .thoughts {
   
  
    animation: bob 4s ease-in-out infinite alternate;
    transition: all 1s cubic-bezier(0.760, -0.265, 0.195, 1.260);
    transition-property: left, right, top, bottom;
  }

  .p {
    font-size: 24px;
    line-height: 1.45em;}
    &:nth-child(1) {
      margin-bottom: 0;
    }
    &:nth-child(3) {
      margin-top: 0;
    }

    .imawhat {
      display: none;
    }

@keyframes bob {
  0%   { transform: translateY(0); }
  100% { transform: translateY(20px); }
}

.align-center {
  position: relative;
  text-align:center;
  background-color:#fff;
  color:#000;
  padding:60px;
  margin-top:30px;
  margin-bottom:30px; 
  border-bottom: 10px solid transparent;
}

.align-center p {
  margin-top:10px;
  margin-bottom:30px;
}

.align-center:hover {
  transition: box-shadow .5s;
  border-bottom: 10px solid transparent;
  border-color:#FFDA00;
  -webkit-box-shadow: 0px 0px 80px -10px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 80px -10px rgba(204,204,204,1);
  box-shadow: 0px 0px 80px -10px rgba(204,204,204,1);
}

.boxs {
  margin-top:10px;
}

.icon {
  margin-top:30px;
  margin-bottom:30px;
  color:#FFDA00;
}

.ficon i {
  color:#FFDA00;
}

.ficon p{
	font-size:20px;
}

.menu-title {
  color:#ff7788;
  font-size:1.5rem;
  display:inline-block;
}

.dropdown-menu.divider {
  margin:5px 0;          
}

.item-title {
 font-size:1.3rem;
 color:#000; 
}

.item-info{
  font-size : 1.2rem;
}

@media(max-width: 767px){
  .button-three{
    width: 100%;
  }
}

@media(min-width:768px){
  .button-three{
    width: 100%;
  }
}

.button-three {
  position: relative;
  background-color: #FFDA00;
  border: none;
  padding: 10px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
	border-radius: 4px;
	margin-top:10px;
}

.button-three:hover{
  background:#fff6c6;
  box-shadow:0px 1px 10px 0px #ffcc00;
  color:#000;
}

.button-three:after {
  content: "";
  background: #f1c40f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button-three:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.button-one{
  display: block;
  height: 30px;
  padding: 0;
  width: 100px;
  background: none;
  margin: auto;
  border: 2px solid #FFDA00;
  color: grey;
  cursor: pointer;
  outline: none;
	border-radius: 4px;
	text-align: center;
}

.button-one:hover{
  background: #FFDA00;
  color: white;
}

.MainNav button{
  border: 1px solid white;
}

.MainNav button span{
  background-color: white;
}

/* Guide page CSS */
.guide .ul-center{
  display: flex;
  justify-content: center;
}

.guide table{
  border:1px solid black; 
  width: 90%; 
  margin:auto;
}

#faq ul{
  list-style-type:none;
}

@media(max-width: 991px){
  .form{
    width: 80%;
  }

  .username,
  .language{
    display: none;
  }
}

.mySlides{
  width: 100%;
  height: 480px;
  object-fit: cover;
}

@media(max-width: 500px){
  .mySlides{
    height: 360px;
  }
  .button-three{
	 margin-top:10px; 
  }
}

@media(max-width: 400px){
  .mySlides{
    height: 300px;
  }
  .button-three{
	 margin-top:10px; 
  }
}

/* Login css */
#login-modal .modal-content{  
  margin-top: 100px;       
}

span.badge{
  background-color:#404040;
  margin-left: 2px;
  margin-bottom: 5px;
}

#feedback-modal .modal-content{ 
  margin-top: 5%; 
}

@media(max-width: 767px){
  #feedback-modal .modal-content{
      width: 90%;
      margin-left: 5%;
  }
}

@media(max-width: 480px)
{
  .modal-body .container-feedback
  {
    width:300px;
    margin-left:15px;
  }

  .modal-body .container-feedback-1
  {
    width:300px;
    margin-left:15px;
  }
}

/* SSCrow4 How It Works Section */
#SSCrow4{
  height: 800px;
  background-color: #FFF;
  display: flex;
  font-family: 'Lato', sans-serif;
}

#SSCrow4 .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height:800px;
  overflow:hidden;
  position:relative;
}

.index-content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#SSCrow4 img{
  transform: scale(0.9);
  -webkit-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75); 
  -moz-box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 50px -10px rgba(0,0,0,0.75);
}

.textcontainer{
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.textcontainer p{
  width: 320px;
  font-size: 42px;
  line-height: 1.2;
  color: #FFF;
}

.index-content button{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box1,#box2,#box3{
  height:100%;
  width:100%;
}

#box2{
  transform: translateX(100%);
}

#box3{
  transform: translateX(200%);
}

.gradient-div{
  height: 300px;
  width: 80%;
  position: absolute;
  background-image: -webkit-linear-gradient(right, #ff4e50 0%, #f9d423 100%);
  background-image: -o-linear-gradient(right, #ff4e50 0%, #f9d423 100%);
  background-image: linear-gradient(to left, #ff4e50 0%, #f9d423 100%);
}

@media(max-width: 1480px){
  #SSCrow6 .promo-content{
    padding-bottom: 15vw;
  }
}

@media(max-width: 1199px){
  .textcontainer{
    flex-direction: column;
    align-items: flex-start;
  }

  .index-content button{
    margin-left: 0;
  }
}

@media(max-width: 991px){
  .gradient-div{
    width: 98%;
  }
}

@media(max-width: 767px){
  #SSCrow4{
    flex-direction: column;
    height: 1200px;
  }

  #SSCrow4 .container{
    flex-direction: column;
    height: 100%;
    overflow: visible;
  }

  .index-content button{
    display: none;
  }

  .index-content{
    position: initial;
  }

  #box1,#box2,#box3{
    height: 400px;
    transform: initial;
    margin: 100px 0px;
  }

  #box2{
    flex-direction: row-reverse;
  }

  .textcontainer p{
    width: 100%;
    font-size: 24px;
  }

  #SSCrow4 img{
    height: 320px;
  }

  .gradient-div{
    height: 150px;
  }

  .operatingtime-content{
    flex-direction: column-reverse;
  }

  #SSCrow5 .text{
    margin-right: 0px !important;
    font-size: 44px !important;
  }

  #SSCrow5 .s-text{
    font-size: 32px !important;
  }

  #SSCrow5 .graphic img{
    height: 100%;
    width: initial !important;
  }

  .promo-content{
    flex-direction: column;
  }

  #SSCrow6 .text{
    margin-left: 0px !important;
  }
}

@media(max-width: 500px){
  .gradient-div{
    height: 150px;
  }

  #SSCrow4 img{
    height: 220px;
  }

  .textcontainer{
    margin-left: 0;
  }

  .textcontainer p{
    font-size: 22px;
  }

  #box1,#box2,#box3{
    height: 300px;
    transform: initial;
  }

  #SSCrow6 .graphic{
    display: none;
  }
}

/* SSCrow5 Operating Time Section */
#SSCrow5{
  height: 500px;
  display: flex;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  position: relative;
}

#SSCrow5 .container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#SSCrow5 .graphic{
  object-fit: cover;
}

#SSCrow5 .graphic img{
  position: absolute;
  opacity: .8;
  width: 100%;
}

.operatingtime-content{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(245, 245, 245, 0.7);
  padding: 35px;
}

#SSCrow5 .text{
  font-size: 62px;
  text-align: center;
}

#SSCrow5 .text p:first-of-type{
  font-weight: bold;
}

#SSCrow5 .s-text{
  font-size: 44px;
}

/* SSCrow6 Promo Section */
#SSCrow6{
  height: 800px;
  display: flex;
  font-family: 'Lato', sans-serif;
  background-color: #FFF;
  position: relative;
}

#SSCrow6 .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#SSCrow6 .graphic{
  text-align: center;
  font-size: 20px;
  color: #FFF;
  position: absolute;
  bottom: 0;
}

#SSCrow6 .graphic img{
  width: 100%;
}

.promo-content{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 80px;
  padding: 7vw 11vw 13vw 11vw;
  border-top: 6px solid #ff4e50;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff4e50), to(#f9d423));
  background-image: -webkit-linear-gradient(#ff4e50, #f9d423);
  background-image:
      -moz-linear-gradient(#ff4e50, #f9d423),
      -moz-linear-gradient(#ff4e50, #f9d423);
  background-image:
      -o-linear-gradient(#ff4e50, #f9d423),
      -o-linear-gradient(#ff4e50, #f9d423);
  background-image: 
      linear-gradient(#ff4e50, #f9d423),
      linear-gradient(#ff4e50, #f9d423);
  -moz-background-size: 6px 100%;
  background-size: 6px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat; 
  background-color: rgba(245, 245, 245);
  -webkit-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75); 
  -moz-box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px -2px rgba(0,0,0,0.75);
}

#SSCrow6 .text{
  font-size: 44px;
  text-align: center;
  z-index: 1;
}

#SSCrow6 .text span{
  font-size: 102px;
  font-family: 'Roboto Slab', serif;
  /* font-style: italic; */
  color: #ff4e50;
  font-weight: bold;
  text-shadow: -5px 5px 0px #F98722,
                -10px 10px 0px #f9d423;
}

#about-container,h1{
  font-family: 'Lato', sans-serif;
}

#about-container section.header-section{
  background-color: #FFF1D0;
  display: flex;
  position: relative;
  height: 600px;
}

#about-container section h3{
  border-bottom: 2px solid #FFDA00;
  font-size: 34px;
  font-weight: 900;
  padding-bottom: 15px;
}

.header-section .header-img-div,
.header-section .header-text-div{
  position: absolute;
}

.header-section .header-text-div{
  width: 400px;
  padding: 60px 80px;
  background-color:#FFF;
  border-radius: 25px; 
  right: 100px;
  top: 100px;
  box-shadow: 0px 11px 44.6px 0.5px rgba(0,0,0,0.35);
}

.header-img-div img{

}

#about-container section.col-md-5{
  margin: 45px;
}

#about-container section.col-md-5 p{
  font-size: 20px;
}

#about-container .secondary-header{
  font-weight: bold;
}

#uppernavbar .special-nav-item > a{
  /* display: flex; */
  padding: 15px 4px;
  line-height: 0;
}

#uppernavbar li.special-nav-item{
  background-color: #FFDA00;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SSCrow3 */
#SSCrow3{
  padding-top: 150px;
}