
/* Slideshow container */
.mySlides img{
  width: 100%;
}

.MainNav button{
  border: 1px solid white;
}

.MainNav button span{
  background-color: white;
}
.intro-header {
  /*padding-top: 500px;
  padding-bottom: 150px;*/
  text-align: center;
  position: relative;
  /*background: url(../SysImg/rimg1-1200x400.jpg) no-repeat center center;
  background-size: cover;*/
}
#SSCrow1{


  left:0;
  right:0;
margin-top:-30px;
}

.form{
    background-color:rgba(255, 255, 255,0.8);
    padding:50px;
    margin:auto;
	position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:70%;
	
}
#DescContainer{
    margin-top:30px;
    padding-left: 5px;
	 padding:50px;
}

a:hover{
    color:dimgrey;
}

/* The dots/bullets/indicators */
.w3-display-bottommiddle {
  position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%,0%);
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;

}



.active, .dot:hover {
  background-color: #717171;
}

