/* Slideshow container */
.mySlides img{
  width: 100%;
}

.MainNav button{
  border: 1px solid white;
}

.MainNav button span{
  background-color: white;
}
.intro-header {
  padding-top: 500px;
  padding-bottom: 150px;
  text-align: center;
  background: url(../SysImg/rimg1-1200x400.jpg) no-repeat center center;
  background-size: cover;
}
#SSCrow2{

 position:absolute;
 left:0;
 right:0;
margin-top:-800px;
}
.loginform{
    background-color:rgba(255, 255, 255,0.8);
    padding:50px;
    margin:auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:70%;
	
}
#DescContainer{
    margin-top:30px;
    padding-left: 5px;
	 padding:50px;
}

a:hover{
    color:dimgrey;
}

