/* Slideshow container */
#SlideShowContainer {
  max-width: 100vw;
  max-height:100vh;

  position: relative;
  margin: auto;


}

.mySlides img{
  width: 100%;
}

.MainNav button{
  border: 1px solid white;
}

.MainNav button span{
  background-color: white;
}

#SSCrow2{

 position:absolute;
 left:0;
 right:0;
margin-top:-800px;
}



.loginform{
    background-color:rgba(255, 255, 255,0.8);
    padding:30px;
    margin:auto;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#DescContainer{
    margin-top:30px;
     
	 padding-left: 5px;
}

a:hover{
    color:dimgrey;
}

