/* Slideshow container */
#SlideShowContainer {
  max-width: 100vw;
  max-height:100vh;
  position: relative;
  margin: auto;


}

#SSCrow1{

 position:absolute;
  left:0;
  right:0;
margin-top:-58px;
}



.loginform{
    background-color:rgba(255, 255, 255,0.8);
    padding:30px;
    margin:auto;
   margin-top:200px;

}

#DescContainer{
    margin-top:320px;
     
	 padding-left: 5px;
}

a:hover{
    color:dimgrey;
}

