.toptup-right{
  height: 37em;
  border-left: 1px solid #efefef;
  padding-left: 5em;
  padding-right: 5em;

}

.withdraw-right{
  height: 45em;
  border-left: 1px solid #efefef;
  padding-left: 5em;
  padding-right: 5em;
}

.label-img{
  width:100%;
  height:80px;
}

a:hover {
    color: #ffda00;
}

.label-outlet{
  margin-bottom: 30px;
  height: 150px;
  text-align: center;
 
}

.mobile-dropdown{
  display: none;
}


@media(max-width: 991px){
  .toptup-right{
    border-top: 1px solid #efefef;
    border-left:0px;
    height: 30em;
  }

  .withdraw-right{
    border-top: 1px solid #efefef;
    border-left:0px;
    height: 45em;
  }

  .label-final-outlet{
    display: none;
  }

  .mobile-dropdown{
    margin-top: 1em;
  }
 
}

@media(max-width: 780px){

  .menu-container{
    margin-bottom: 0px;
  }

  #topup{
    margin:10px;
  }

}

@media(max-width: 400px)
{
  .toptup-right{
    height: 30em;
   
    padding-left: 1em;
    padding-right:1em;
    margin-left: 1em;
    
  }

  .withdraw-right{
    height: 50em;
   padding-left: 1em;
    padding-right:1em;
    margin-left: 1em;
  }

}

