#userprofile{
  margin:auto;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white
}

.userprofile-header-title{
  font-size: 1.6em;
  font-weight: 500;
  line-height: 2.4em;
}

.userprofile-header{
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

.userprofile-detail{
  padding-top : 10px;
 
}

.userprofile-left{
  height: 25em;
  border-right: 1px solid #efefef;
  padding-top: 3em;
}



.userprofile-avatar{
  margin:20px 20px;
  height: 150px;
  width: 150px; 
}

.userprofile-image{
  border-radius: 50%;
  background-position: 50%;
  background-size: cover;
  border: 1px solid #FFDA00;
  cursor: pointer;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.userprofile-input{
  height: 25%;
  font-size: 1.10em;

}

.userprofile-label{
  text-align: right;
  text-transform: capitalize;
  color:#333;
}

.userprofile-text{
  
  margin-bottom: 0.5em;
}

.userprofile-editbutton{
  min-height: 40px; 
  width: 150px;
  margin-top: 3em;
}

.userprofile-pencil{
  color: #315f9c;
  font-size:1.5em;
}

.userprofile-trash{
  color: #db1b1b;
  font-size:1.5em;
}

.userprofile-edit-input{
  border-left: 1px solid #efefef;
}

.userprofile-edit-left-nav{
   border-bottom: 1px solid #efefef;
}

.add-new-address-btn{
  float: right;
}

@media(max-width: 480px){
  #userprofile{
    padding: 0;
  }

  .userprofile-header-title{
    text-align: center;
  }

  .userprofile-address .add-new-address-btn{
    float: none;
    margin-bottom: 3px;
  }

  div.userprofile-address * { 
    display: block; 
  }

/* Hide table headers (but not display: none;, for accessibility) */
  div.userprofile-address  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  div.userprofile-address  tr { border: 1px solid #ccc; }
  
  div.userprofile-address  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  div.userprofile-address  td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
}

@media(max-width: 990px){
  .userprofile-avatar{
    margin : -17px;
  }

  .col-xs-2{
    width: 30%;
  }

}

@media(max-width: 767px){
  .userprofile-avatar{
    margin : 20px auto;
  }
  .userprofile-left{
    border-right: 0px;
    border-bottom: 1px solid #efefef;
    height: 23em;
  }
  
  .userprofile-edit-input{
    border:0px;
  }
  .col-xs-2{
    width: 30%;
  }

  div.userprofile-label
  {
    margin-left:45px;
  }
  
}

@media(max-width: 489px){
  #userprofile{
    padding-left:0px;
  }
  .userprofile-avatar{
    margin:auto;
  }

  .col-xs-2{
    width: 35%;
  }
}

.vertical-divider{
  padding-left:0px;
  padding-right: 0px;
}


.fa-user,.fa-money,.fa-cutlery,.fa-comment,.fa-ticket{
    color:#FFDA00;
}

@media(max-width: 480px){
	.fa-user,.fa-money,.fa-cutlery,.fa-comment{
  color:#FFDA00;
	position:relative;
  }
  .nav-default > li > .label-btn > a{
    font-size: 0.7em;
  }

div.userprofile-input{margin: 0px 0px 55px 0px;}

}

.container3{
	background-color:#fff;
}

.fa-angle-left {
	font-size:20px;
	padding-top:10px;
	padding-left:10px;
	color:#636363;
}

/*
* user nav id nav
* class nav-default css
*/
#nav { 
  display:flex; 
  justify-content:space-between;

}

#nav > li.active{
  background-color:white;
  border-top:1px solid #FFDA00;

}


.nav-default.ul {
  max-width: 960px;
  width: 100%;
  margin: 15px auto;
 
  align-items: stretch;
}
.nav-default >li { 
  display: inline-block; 
  width: 100%;
  list-style-position: inside;
}

.nav-default >li:last-child {
  border-right: 0px;
}

.nav-default .ul {  }
.nav-default > li{
  border-right: 1px solid #FFDA00; }
.label-btn {
  display:grid;
  padding: 10px 5px;
  text-align: center;
  list-style-position:inside;
  margin-bottom: 0px;
}



#nav > li:first-child.active{
   border-left:1px solid #FFDA00;
}

#nav > li:last-child.active{
   border-right:1px solid #FFDA00;
}
/*
* end
*/

.primary-btn{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.primary{
  display: block;
  width: 100%;
  padding: 6px 12px;
  text-align: center;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  border-radius: 4px;
}

