.outer-container{
  display:flex;
  align-items: center;
  justify-content:center;
}

.menu-container{
  display: grid;
  width:1200px;
  grid-template-columns: 1fr;
  margin-bottom: 50px;
  align-items: center;
  justify-content:center;
}

.item{
  font-size: 24px;
  color: black;
  background-color: white;
  min-width: 300px;
  min-height: 160px;
  border-bottom:1px solid #FFDA00;
padding-right: 20px;
}

.item p{
  font-size:16px;
  color:grey;
}

.item .small-text{
   font-size:15px;
  color:grey; 
  margin-top: 10px;
}

.item .price{
    font-size: 17px;
    color: black;
}

.item .inner-item{
  margin:10px 0px 10px 30px;
  float:left;
  width: 50%;
}

.item .tag{
    font-size: 13px;
    color: grey;
}

.item .img{

  float:left;
}

.item img{
	margin-top:15px;
    width:130px;
  height:130px;
  
}

.menu-container :hover{
   background-color: #fffbe5;
}
.menu-container a:hover,.menu-container p:hover {
   /* color: #fffbe5; */
}

#try #try1{
  cursor:pointer;  
  -webkit-box-shadow: inset -3px -3px 5px -3px black;
  -moz-box-shadow: inset -3px -3px 5px -3px black;
  box-shadow: inset -3px -3px 5px -3px black;
} 
